<nav class="navbar navbar-expand-md navbar-dark" dir="rtl" style="margin-top: -52px;background: rgba(0, 0, 0, 0.27);">

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="ml-5">
    <div class="collapse navbar-collapse ml-5" [ngClass]="{ 'show': navbarOpen }">
      <div class="col-md-2"></div>
      <ul class="navbar-nav nav-bg pt-120 wt-228 mr_145">
        <div class="col-md-4">
          <li class="nav-item Rectangle-cnct wt_178">
            <a class="nav-link" routerLink="/login-arbic">
              <font color="white">
                الصفحة الرئيسية
              </font>
            </a>
          </li>
        </div>
        <div class="col-md-3">
          <li class="nav-item Rectangle-cnct txt_allign">
            <a class="nav-link" routerLink="/aboutus-arabic">
              <font color="white">
                معلومات عنا
              </font>
            </a>
          </li>
        </div>
        <div class="col-md-3">
          <li class="nav-item dropdown Rectangle-cnct txt_allign">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <font color="white">
                خدمات
              </font>
            </a>
            <div class="dropdown-menu" style="background:rgba(0, 0, 0, 0.63);" dir="rtl"
              aria-labelledby="navbarDropdown">
              <a class="dropdown-item Rectangle-cnct txt_allign" routerLink="/amanservices-arabic">
                <font color="white">
                  أمـــــان
                </font>
              </a>
              <a class="dropdown-item Rectangle-cnct txt_allign" routerLink="/salamaservices-arabic">
                <font color="white">
                  سلامة
                </font>
              </a>
              <a class="dropdown-item Rectangle-cnct txt_allign" routerLink="/facilityarabic">
                <font color="white">
                  إدارة المرافق المتكاملة
                </font>
              </a>
            </div>
          </li>
        </div>
        <div class="col-md-2">
          <li class="nav-item Rectangle-cnct txt_allign">
            <a class="nav-link" routerLink="/supplier-register-arabic">
              <font color="white">
                الموردين
              </font>


            </a>
          </li>
        </div>
        <div class="col-md-2">
          <li class="nav-item Rectangle-cnct txt_allign" style="width: 100px;">
            <a class="nav-link " routerLink="/contactus-arabic">
              <font color="white">
                اتصل بنا
              </font>
            </a>
          </li>
        </div>
      </ul>
    </div>


  </div>
</nav>