
nav{
  width: 100%;
  height: 50px;
  background:rgba(0,0,0,.8);
  border-top: 1px solid rgba(255,255);
  border-bottom: 1px solid rgba(255,255);
  position: sticky;
  top:0px;
  z-index: 99;
}
.navigation .menu {
  position: relative
}
.navigation .menu .submenu {
  position: absolute;
  /* width: 200px; */
  /* -webkit-box-shadow: 0px 1px 1px #CCC; */
  /* box-shadow: 0px 1px 1px #CCC; */
  display: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.navigation .menu:hover .submenu {
  display: block;
 
}
.navigation .menu .submenu:before {
  content: "";
  position: absolute;
  display: block;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #FFF transparent;
  top: -6px;
  right: 5px;

}
.nav ul li {
color: white !important;
display: none
}
.color_white{
  color: white !important;
}
  /* ===========navbar start========= */
.Rectangle-2 {
  width: 137px;
  height: 41px;
  border-radius: 5px;
  color:white !important;
  font-family: Roboto !important;
  font-size: 18px;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.contact_navbar {
  margin-right: 5px;
  width: 76px;
  height: 41px;
  border-radius: 5px;
  color:white !important;
  font-family: Roboto !important;
  font-size: 18px;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.supplier_navbar {
  width: 94px;
  height: 41px;
  border-radius: 5px;
  color:white !important;
  font-family: Roboto !important;
  font-size: 18px;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.Home_navbar{
  width: 151px;
  height: 41px;
  border-radius: 5px;
  color:white !important;
  font-family: Roboto !important;
  font-size: 18px;
  font-weight: bold !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
 .Contact-Us {
  width: 90px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Suppliers {
  width: 77px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Services {
  width: 70px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .About-Us-Copy {
  width: 75px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Home-Copy {
  width: 49px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
/* ====================responsive================= */
.mt_20{
  margin-top: 0px;
}
.wt_237{
width: 237px;
}
.wt_220{
  width: 81px;
}
.wt-con{
width: 232px;
}
.wt_140{
width: 140% !important;
}
/* mobile media query */
@media screen and (min-device-width: 320px) and (max-device-width: 760px){
.nav-bg {
  background-color: rgba(0, 0, 0, 0.65) !important;
}
.ml_mr{
  margin-right: 35px !important;
  margin-left: -22px !important;
}
.wt_237{

  width: 99px;
  }
  .ml-5{
    margin-left: 4.2rem !important;
  }
.pt-120{
  position: relative;
  left: 111px;
}
.mt-414{
  margin-top: 0px !important;
}
.ft_18 {
  font-size: 17px !important;
}
.ml_33{
/* margin-left: -27px !important; */
}


}
/* css for ipad */
@media screen and (min-device-width: 768px) and (max-device-width: 1022px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}
.maxwt_19{
  max-width: 19%;
}
.wt_135{
width: 135px !important;
}
.map_wt{
  width: 175px !important;
}
.ml_135{
  margin-left: 0px !important;
}
.ml_16{
  margin-left: -16px !important;
}
.logo_wt{
width: 109px;
}
.col-sm-2{
  width : 0% ! important;
}

.mt_20{
  
    margin-top: 4px !important; 
  
  shape-margin: 0px !important;
}

.ht_80{
  height:54px !important
}

.pt-120{
  position: relative;
  left: 136px;
}
.mt-414{
  margin-top:0px !important;
}

.ml-5, .mx-5 {
  margin-left: -1.8rem !important;
}

.pad_0{
padding:1 22px !important;
}
.ft_18 {
  font-size: 30px;
}

.wt_106{
  width: 106% !important;
}


}
@media screen and (max-device-width: 1024px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}
.maxwt_19{
  max-width: 19%;
}

.wt_135{
width: 135px !important;
}
.map_wt{
  width: 175px !important;
}
.ml_135{
  margin-left: 0px !important;
}
  /* .ml_16{
    margin-left: -16px !important;
  } */
.logo_wt{
width: 109px;
}
.col-sm-2{
  /* width : 0% ! important; */
}

.mt_20{
  
    margin-top: 4px !important; 
  
  shape-margin: 0px !important;
}

/* .ht_80{
  height:54px !important
} */

.pt-120{
  position: relative;
  /* right: 79px; */
}
.mt-414{
  margin-top:0px !important;
}

/* 

*/

.pad_0{
padding:1 22px !important;
}
.ft_18 {
  font-size: 30px;
}

.wt_106{
  width: 106% !important;
}


}

/* css for ipad pro*/


/* ======navbar end===== */
/* 
============dropdown style start============= */

.show-on-hover:hover > ul.dropdown-menu {
  display: block;    
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color:#8080808c !important
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 12rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* 
============dropdown style End============= */