

<nav dir="rtl" class="navbar navbar-expand-md  navbar-dark">


  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse text-right mobile-bg ml-manual" 
   id="navbarNavDropdown" [ngClass]="{ 'show': navbarOpen }">
   
   
  
    <ul class="navbar-nav p-0 m-0">
      <li (click)="toggleNavbar()" class="nav-item">
        <a class="nav-link nav-text" routerLink="/login-arbic">الصفحة الرئيسية</a>
      </li>
      <li (click)="toggleNavbar()" class="nav-item">
        <a routerLink="/aboutus-arabic" class="nav-link nav-text" >معلومات عنا</a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-text" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              خدمات
          </a>
          <div class="dropdown-menu text-right">
            <a (click)="toggleNavbar()" routerLink="/amanservices-arabic" class="dropdown-item nav-drop-text text-white" >أمـــــان</a>
            <a (click)="toggleNavbar()" routerLink="/salamaservices-arabic" class="dropdown-item nav-drop-text text-white" >سلامة</a>
            <a (click)="toggleNavbar()" routerLink="/facilityarabic" class="dropdown-item nav-drop-text text-white" >إدارة المرافق المتكاملة</a>
          </div>
        </li>

      <li (click)="toggleNavbar()" class="nav-item">
        <a routerLink="/supplier-register-arabic" class="nav-link nav-text" href="#">الموردين</a>
      </li>
      <li (click)="toggleNavbar()" class="nav-item">
          <a routerLink="/contactus-arabic" class="nav-link nav-text" href="#">اتصل بنا</a>
      </li>
    </ul>
  </div>
</nav>


