<div class="container col-md-12">
  <br><br>
    <div class="row">
     
        <div class="col-sm-2">
            <img src="./assets/logo-1-copy.png" srcset="./assests/logo-1-copy@2x.png 2x,
            ./assests/logo-1-copy@3x.png 3x"
  class="img-thumbnail">
        </div>
        
        <div class="col-md-2">
            <h5 class="home">Navigations</h5>
                      <ul class="list-unstyled quick-links">
      
                          <li><a routerLink="about-us" class="about"><font color="white">About Us</font></a></li>
                          <li><a class="about"><font color="white">Services</font></a></li>
                          <li><a class="about"><font color="white">Sitemap</font></a></li>
                          <li><a class="about"><font color="white">Contact Us</font></a></li>
                      </ul>
          </div>
         
          <!-- <div class="col-sm-3">
              <h5 class="home">Support</h5>
              <ul class="list-unstyled quick-links">
                <li><a class="about"><font color="white">Privacy Policy</font></a></li>
                <li><a class="about"><font color="white">Disclaimer</font></a></li>
                <li><a class="about"><font color="white">Terms and Condition</font></a></li>
                <li><a class="about"><font color="white">Protecting Lives and Property</font></a></li>
   
              </ul>
            </div> -->
            <div class="col-sm-2">
                <h5 class="home">Company Address:</h5>
                <ul class="list-unstyled quick-links">
                  <li><p class="about"><font color="white">Tower 400, 12th Floor, Mina Road,</font>
                      <br>
                  <font color="white">Sharjah, PO Box 4638 Sharjah - UAE </font>
                  <br>
                  <font color="white">Tel: +971 6 597 2222</font>
                  <br>
                  <font color="white">Fax: +971 6 572 2331</font>
                  <br>
                  <font color="white">Email: helpdesk.hsg@apleona.com</font>
                  <br>
                  <font color="white">www.saned.ae</font></p></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <img src="./assets/screen-shot-2018-12-18-at-12-04-00-pm.png" srcset="./assests/screen-shot-2018-12-18-at-12-04-00-pm@2x.png 2x,
                ./assests/screen-shot-2018-12-18-at-12-04-00-pm@3x.png 3x"
      class="img-thumbnail">
            </div>
            <div class="col-sm-3">
              <p>Follow us
                <a href="https://twitter.com/bootsnipp"><i class="fa fa-linkedin-square fa-3x social" style="color:#007bb5"></i></a>
                <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social" style="color:#55ACEE"></i></a>
                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social" style="color:#3B5998"></i></a>
                <h6>Join Our Newsletter</h6>
                <div class="input-group mb-3">
                   
                    <input type="email" style="background: black;
                    border-color: #6c757d;" class="form-control" required placeholder="Enter your mail id" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                     
                      <button class="btn btn-outline-secondary" type="button">Subscribe</button>
                    </div>
                  </div>
          </div>
              <!-- <hr class="col-md-8" style="background:white"> -->
              <br>
    </div>
  
  
<div class="footer">
 <div>
    <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. © 2018.</p>
  </div>
  
</div>
<br>
</div>