<!-- =============footer arabic start====== -->

<div dir="rtl">
  <div class="container1 col-md-12" dir="rtl">
    <br><br>
    <div class="row">

      <div class="col-sm-2">
        <img src="./assets/footersanedlogo.png" srcset="./assets/footersanedlogo@2x.png 2x,
      ./assets/footersanedlogo@3x.png 3x" class="img-responsive">
      </div>


      <div class="col-md-2 text-justify">
        <h5 class="" style="color:white"><b>الملاحة</b></h5>
        <ul class="list-unstyled quick-links">

          <li><a routerLink="/aboutus-arabic" (click)="goToTop()" class="about">
              <font color="white">معلومات عنا</font>
            </a></li>
          <li><a routerLink="/amanservices-arabic" (click)="goToTop()">
              <font color="white">خدمات</font>
            </a></li>
          <li><a routerLink="/sitemap-arabic" (click)="goToTop()">
              <font color="white">خريطة الموقع</font>
            </a></li>
          <li><a routerLink="/contactus-arabic" (click)="goToTop()">
              <font color="white">اتصل بنا</font>
            </a></li>
          <li><a routerLink="/privacy-arabic" (click)="goToTop()">
              <font color="white">سياسة خاصة</font>
            </a></li>
        </ul>
      </div>

     
      <div class="col-md-3 text-justify" dir="rtl">
        <h5 class="" style="color:white;font-family: GeezaPro;">عنوان الشركة:</h5>
        <ul class="">
          <li>
            <p class="about">
              <font color="white">برج 400 ، الطابق 18 ،</font>
              <br>
              <font color="white"> طريق الميناء الشارقة ،</font>
              <br>
              <font color="white">صندوق بريد 4648 الشارقة - الإمارات العربية المتحدة</font>
              <br>

              <font color="white" dir="rtl"> رقم الهاتف: 6555 506 6 971+ </font>
              <br>
              <font color="white" dir="rtl"> الفاكس: 2331 572 6 971+ </font>
              <br>
              <font color="white">البريد الإلكتروني: helpdesk@saned.ae</font>
              <br>
              <a routerLink="login-arabic">
                <font color="white">www.saned.ae</font>
              </a>
            </p>
          </li>
        </ul>
      </div>




      <div class="col-sm-2" dir="rtl">
        <a target="_blank"
          href="http://maps.google.com/?q=Tower 400,18th Floor,Mina Road Sharjah,PO Box 4648 Sharjah - UAE ">
          <img src="./assets/map.png" srcset="./assets/map@2x.png 2x,
      ./assets/map@3x.png 3x" class="img-responsive">
        </a>
      </div>




      <div class="col-sm-3 text-justify">
        <p style="color:white;font-family: GeezaPro;">تابعنا
          <a><i class="fa fa-linkedin-square fa-3x social" style="color:#007bb5"></i></a>
          <a><i class="fa fa-twitter-square fa-3x social" style="color:#55ACEE"></i></a>
          <a><i class="fa fa-facebook-square fa-3x social" style="color:#3B5998"></i></a>
          <a><i class="fa fa-instagram square fa-3x social" style="color:#55ACEE"></i></a>
          <h6 style="color:white;font-family: GeezaPro;text-align: right;">اشترك في صحيفتنا الإخبارية</h6>
          <div class="input-group mb-3">

            <input type="email" name="email_id" [(ngModel)]="model.email_id" #name="ngModel" id="email_id" style="background: black;
                  border-color: #6c757d;vertical-align:9px;color:#bbb;font-family: GeezaPro;" class="form-control"
              required placeholder="أدخل معرف البريد الخاص بك" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">

              <button class="btn btn-outline" style="border-color: white;" type="button">
                <font style="color:#ff0000;">الاشتراك</font>
              </button>
            </div>
          </div>





      </div>




      <div class="col-md-11 text-center" dir="rtl">


        الموقع في وضع البناء
      </div>
      <hr class="col-md-12" style="background:white;font-family: GeezaPro;">
    </div>
    <div class="col-md-5"></div>

    <div class="footer">
      <div>
        <p style="font-family: GeezaPro;color: #ffffff;" class="text-center">من خلال الاستمرار عبر هذه الصفحة ،
          فإنك توافق على
          بنود الخدمة وسياسة
          ملفات تعريف الارتباط وسياسة
          الخصوصية
          وسياسات المحتوى الخاصة بنا. © 2019.</p>
      </div>

    </div>
    <br>
  </div>
</div>
<!-- ========footer arabic end====== -->