<div class="container">
    <div class="row">
     
        <div class="col-sm-3">
            <img src="./assets/group-5.png" srcset="./assests/group-5@2x.png 2x,
            ./assests/group-5@3x.png 3x"
  class="img-thumbnail">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h5 class="home">Home</h5>
                      <ul class="list-unstyled quick-links">
      
                          <li><a routerLink="about-us" class="about"><font color="#4a4a4a">About Us</font></a></li>
                          <li><a class="about"><font color="#4a4a4a">Aman Overview</font></a></li>
                          <li><a class="about"><font color="#4a4a4a">Contact Us</font></a></li>
          
                      </ul>
          </div>
         
          <div class="col-sm-3">
              <h5 class="home">Support</h5>
              <ul class="list-unstyled quick-links">
                <li><a class="about"><font color="#4a4a4a">Privacy Policy</font></a></li>
                <li><a class="about"><font color="#4a4a4a">Disclaimer</font></a></li>
                <li><a class="about"><font color="#4a4a4a">Terms and Condition</font></a></li>
                <li><a class="about"><font color="#4a4a4a">Protecting Lives and Property</font></a></li>
   
              </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="home">Company Address:</h5>
                <ul class="list-unstyled quick-links">
                  <li><p class="about"><font color="#4a4a4a">Tower 400, 12th Floor, Mina Road,</font>
                      <br>
                  <font color="#4a4a4a">Sharjah, PO Box 4638 Sharjah - UAE </font>
                  <br>
                  <font color="#4a4a4a">Tel: +971 6 597 2222</font>
                  <br>
                  <font color="#4a4a4a">Fax: +971 6 572 2331</font>
                  <br>
                  <font color="#4a4a4a">Email: helpdesk.hsg@apleona.com</font>
                  <br>
                  <font color="#4a4a4a">www.saned.ae</font></p></li>
                </ul>
              </div>
     
    </div>
  </div>
<div class="footer">
 <div>
    <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. © 2018.</p>
  </div>
</div>
