<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  /* ==============footer style start ========= */
  section.sec1 {
    background: url(natures-temples.png);
    background-size: cover;
  }

  section.banner {
    background: url(Group.png);
    background-size: cover;
    margin-left: 15px;
  }

  section.sec2 {
    padding: 100px;
    box-sizing: border-box;
  }
</style>


<!-- <app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg> -->
<div [class]='bg' style="margin-bottom: -50px; position: relative;">
  <div class="container-fluid">

    <div dir="rtl" class="row">
      <div class="col-md-4 col-sm-4 p-0 text-right">
        <img class="img-fluid" src="./assets/logo_ar.png">
      </div>

      <div class="col-md-4 col-sm-4"> </div>

      <div class="col-md-4 col-sm-4">
        <div class="mt-sm-5 ml-sm-5 mt-md-5 ml-md-5 mt-0 ml-0">

          <input type="radio" checked>
          <font class="ml-3 mr-1" color="#F90E35"> عربى </font>

          <input name="Lang" style="color:#ff0000;" [(ngModel)]="Lang" type="radio" [value]="true"
            routerLink={{nav_arabic}} [checked]="Lang" />
          <font class="mr-1" style="color:white">English</font>

        </div>
      </div>

    </div>

    <div class="text-center">
      <font class="head"> {{ head }} </font>
    </div>
  </div>

</div>

<app-navbararabic></app-navbararabic>

<div class="container-fluid">


  <div class=" col-md-14 my-4" dir="rtl">
    <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>“Caring for the nation by helping protect lives and property from fire and life safety events is our primary goal.“</b></h3> -->

    <div class="card col-md-12" style="border-radius: 18px;
    background: white; " dir="rtl">
      <br> <br>
      <div class="row  mr-2" dir="rtl">
        <div class="row" dir="rtl">
          <div class="col-md-1 text-right" dir="rtl">
            <!-- <img src="/assets/1.png" srcset="/assets/1@2x.png 2x,
                  /assets/1@3x.png 3x" class="layer"> -->
            <img src="/assets/noun-connection-657013.png" srcset="/assets/noun-connection-657013@2x.png 2x,
                  /assets/noun-connection-657013@3x.png 3x" class="layer">
          </div>
          <div class="col-md-4 ml-3">


            <div class="text-right">
              <a class="saned_heading text-justify">نبذة عن سلامة

              </a>
            </div>
            <p class="saned_para text-justify  ">
              سلامة هو عبارة عن مركز تدريب عالي المستوى تم تأسيسه بالتعاون بين هيئة الوقاية والسلامة في إمارة الشارقة
              وشركة ساند لخدمة القطاعات المختلفة في الإمارة، حيث تقدم برامج تدريب متخصصة في مجال الوقاية والسلامة
              للعاملين
              داخل القطاع الخاص والقطاع العام. وﺳيقوم المرﻛﺰ بتدرﻳﺐ الكادر الفني على ﺗﻠﻘﻲ ومعالجة وإدارة الأمور المتعلقة
              بالصحة والسلامة المهنية وﺗﻘﺪﻳﻢ ﺗﻘﺎرﻳﺮ عند الحاجة.



            </p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1 text-right">
            <img src="/assets/2.png" srcset="/assets/2@2x.png 2x,
                    /assets/2@3x.png 3x" class="layer">
          </div>
          <div class="col-md-4">
            <div class="text-right">
              <a class="saned_heading text-justify">الأهداف المرجوة من سلامة

              </a>
            </div>
            <p class="saned_para text-justify ">من الأهداف المرجوة من سلامة هو تعزيز نوعية الحياة في إمارة الشارقة من
              خلال
              تثقيف
              القوى العاملة بأعلى معايير الحماية والسلامة المعترف بها دولياً في مكان العمل. وتقليل مخاطر الإصابة
              والحوادث
              أثناء العمل.



          </div>
        </div>
        <!-- </div> -->


        <!-- ====test======== -->

        <div class="row" dir="rtl">
          <div class="col-md-1 text-right">
            <img src="./assets/3.png" srcset="./assets/3@2x.png 2x,
                ./assets/3@3x.png 3x" class="img-responsive">
          </div>
          <div class="col-md-4 ml-3">

            <div class="text-right">

              <a class="saned_heading text-justify">المعلومات التقنية عن سلامة

              </a>
            </div>
            <p class="saned_para text-justify">يسهّل تطبيق سلامة الإلكتروني التابع لهيئة الوقاية والسلامة على إدارات
              الموارد
              البشرية بالشركات تسجيل شركاتهم وموظفيهم الذين يرغبون في تدريبهم ، وتتبع نتائجهم وشهاداتهم.

              يمكن التواصل مع الجهات المعنية عن طريق الاتصال التابع لنا على مدار اليوم طوال أيام الأسبوع والإجابة عن أي
              استفسارات على الرقم التالي: 600351513
              <br>
              <br>
              الموقع الإلكتروني و تطبيق الجوال قيد التنفيذ وسيتم إنجازها قريبا.
            </p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1 text-right">
            <img src="/assets/4.png" srcset="/assets/4@2x.png 2x,
                /assets/4@3x.png 3x" class="img-responsive">
          </div>
          <div class="col-md-4">
            <div class="text-right">

              <a class="saned_para saned_heading text-justify">الرسوم</a>
            </div>
            <p class="text-justify ">مقابل رسوم ثابتة ، سوف يتلقى الموظف تدريباً شخصياً لمدة يوم واحد يتم تدريسه من قبل
              مدرب معتمد من قبل هيئة الوقاية والسلامة. سوف يحصلون على شهادة إتمام عند اجتياز الامتحان الذي سيتم بعد
              التدريب.


            </p>

          </div>




        </div>
      </div>
      <div class="my-3 text-center">
        <a href="http://eservices.spsa.ae/register_ar" target="_blank">
          <button type="submit" class="Rectangle-5-Copy" routerLink="register-form-arabic">سجل هنا</button>
        </a>

      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>

<router-outlet></router-outlet>