.intro-2 {
  background: url("/assets/hero_image1.png")no-repeat center center;
  background-size: cover;
  height: 635px;
}

.aboutus {
  background: url("/assets/group-4.png")no-repeat center center;
  /* background-size: cover; */
  height: 330px;
  border-radius: 18px;
  
}
.Sharjah-Asset-Manage {
/* width: 535px; */
/* height: 283px; */
font-family: GeezaPro;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #333

}

.spacer {
height: 100px;
}
.Who-We-Are-Aman-is-a {
  width: 733px;
  height: 459px;
  font-family: GeezaPro;
  font-size: 18px;
  text-align: justify;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.Who-We-Are-Aman-is-a .text-style-1 {
  font-size: 24px;
}
/* ===align= start=========== */
.about-us{
  width: 280px;
  height: 100px;
  font-family: GeezaPro;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
/* ============Navbar start======= */
.homeservice{
  width: 220px;
  height: 52px;
  font-family: GeezaPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.about-us1{
  
    width: 143px;
    height: 52px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-right: -39px;
  
}
.services{
  width: 70px;
  height: 49px;
  font-family: GeezaPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.supplier{
  width: 100px;
  height: 25px;
  font-family: GeezaPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.contactus{
width: 224px;
height: 76px;
font-family: GeezaPro;
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
margin-right: -137px
}
.Rectangle-2 {
height: 35px;
  width: 100px;
border-radius: 5px;
background-color: #ff0000;
}

/* ========== navabar end=========== */

.content{
/* width: 535px; */
/* height: 127px; */
font-family: GeezaPro;
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: right;
color: var(--black);
}
.vision{
/* width: 535px; */
/* height: 26px; */
font-family: GeezaPro;
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: right;
/* color: var(--black); */
}
.vision-content{
/* width: 519px; */
/* height: 61px; */
font-family: GeezaPro;
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: right;
/* color: var(--black); */
}
.mission {
/* width: 56px; */
height: 40px;
font-family: GeezaPro;
font-size: 18px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 2.22;
letter-spacing: normal;
text-align: right;
color: var(--black);
}
.mission-content{
/* width: 561px; */
height: 130px;
font-family: GeezaPro;
font-size: 18px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: right;
color: var(--black);
}
.Rectangle-5-Copy {
width: 292px;
height: 59px;
border-radius: 8px;
background-color: #f34235;
}
/* =footer start== */
.footer1{
width: 90px;
height: 190px;
font-family: GeezaPro;
font-size: 12px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.67;
letter-spacing: normal;
color: #ffffff;
}
.navfooter{
width: 63px;
height: 9px;
font-family: GeezaPro;
font-size: 12px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 1.67;
letter-spacing: normal;
color: #ffffff;
margin-right: 25px;
}
.footer2{
width: 281px;
height: 164px;
font-family: GeezaPro;
font-size: 12px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: 2.25;
letter-spacing: normal;
color: #ffffff;
}
.subscribe{
width: 144px;
height: 29px;
font-family: GeezaPro;
font-size: 12px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #ffffff;
}
.lastfoot{
width: 1209px;
height: 30px;
font-family: GeezaPro;
font-size: 12px;
font-weight: bold;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #9b9b9b;
}


/* =foter end== */
/* ===Mobile navbar start=========== */

@media screen and (min-width: 320px) and (max-width: 767px){
.nav-bg {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.Rectangle-5-Copy {
  width: 150px;
  height: 59px;
  border-radius: 8px;
  background-color: #f34235;
  }


.pt-120{
  position: relative !important;
  left: 306px !important;

}
.mt-414{
  margin-top: 3px !important;
}

.mr-5, .mx-5 {
  margin-right: 4rem!important;
}

.pad_12{
padding: 0 12px;
}

}

@media screen and (max-width: 768px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .0rem !important;
  padding-left: .0rem !important;
}

.pt-120{
  position: relative !important;
  left: 232px 

}
.mt-414{
  margin-top: 3px !important;
}

.mr-5, .mx-5 {
  margin-right: 5rem!important;
}




li[_ngcontent-c1] {
float: left;
padding: 0 12px !important;
}


}

@media screen and (max-width: 1024px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}



.pt-120{
  position: relative !important;
  left: 302px 

}
.mt-414{
  margin-top: 3px !important;
}

.mr-5, .mx-5 {
  margin-right: 6rem!important;
}




li[_ngcontent-c1] {
float: left;
padding: 0 12px !important;
}


}
/* =========Mobile navbar End========== */

/* ===========HEADING STYLE=========== */
.saned_para{
  font-size:16px;
  color: #333; 
  font-family: GeezaPro;
}
.saned_heading{
  font-size: 28px;
  font-family: GeezaPro;

}

/* ==============HEADING STYLE========== */

/* ======= align end======= */