<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->
<section class="view intro-2 hm-gradient">
        <div class="">
                <div class="col-md-1">
                    <!-- <img src="./assets/logv2-2.png" class="img-responsive"> -->
                    <img  src="./assets/group.png"
                                                     srcset="./assets/group@2x.png 2x,
                                                             ./assets/group@3x.png 3x"
                                                     class="img-responsive">
                </div>
            </div>
             
    <!-- <img href="#" data-toggle="modal" data-target="#myModal" src="assests/lawyer-today-1.png" srcset="assests/lawyer-today-1@2x.png 2x,
    assests/lawyer-today-1@3x.png 3x"
class="NEM mt-3"> -->
    <!-- <div class="full-bg-img"> -->
        <!-- <div class="container flex-center"> -->
            <!-- <div class="row flex-center pt-5 mt-3"> -->
                <!-- <div class="col-md-6 text-center"> -->
                  <br><br>
                    <div class="text-center">
                        <h1 ><font color="white">{{'ABOUT US' |translate:user}}</font></h1>
                           
                    </div>
                <!-- </div> -->

                
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</section>
<br>

<div class=" col-md-12">
    <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>“Caring for the nation by helping protect lives and property from fire and life safety events is our primary goal.“</b></h3> -->
   
   <div class="card col-md-12" style="border-radius: 18px;
   background: white;margin-top: -225px;">
   <br>
    <div class="row">
        <div class="col-md-5 ml-2 Who-We-Are-Aman-is-a">
    <!-- <h4><b>Who We Are</b></h4> -->
    <br>
    <p>
        {{'SANED is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE.' |translate:user}} 

    </p>
    <!-- <h4><b>What We Do</b></h4> -->
    <p>
        {{'SANED was established in 2016 and soon gained a significant market share in the Emirate of Sharjah by delivering Total Facilities Management, predominately through in-house teams providing  MEP, cleaning, security and modification services.' |translate:user}}
    </p>
   
  </div>
<div class="col-sm-1"></div>
  <div class="col-md-5 view aboutus hm-gradient">
   
  </div>
  
</div>


<div class=" col-md-12" >
        <div class="row">
            <div class="col-md-5 Who-We-Are-Aman-is-a">
        <!-- <h4><b>Who We Are</b></h4> -->
       
        <h3>Vision</h3>
        <p>
                SANED is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE. 
        </p>
        <!-- <h4><b>What We Do</b></h4> -->
       
       
      </div>
    <div class="col-md-2"></div>
      <div class="col-md-5">
       <h3>Mision</h3>
       <p>
            SANED is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE. 
    </p>
      </div>

</div>     
       
</div>
 