<app-nav-bg-ar [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg-ar>

<div>
  <div class="container-fluid">
    <br>
    <div class="card">
      <div class="row my-3 ml-2 mr-2 mr-sm-0 mr-md-0">
        <div class="col-md-6 text-justify">
          <div>
            <p class="contant">Sharjah Asset Management Holding (SAMH), the investment arm of the government of Sharjah, and Apleona
              HSG
              Facility Management, a German leading company in FM and Technical Services have founded a joint venture
              in
              2016 to provide various technical related services to all types of properties within the public and
              private
              sectors in the Emirate of Sharjah.</p>

            <p class="contant">
              The scope of the JV includes Integrated Facility Management, Small and Medium construction project
              management, HSE related scopes such as Fire Prevention strategies, HSE inspection and Training, Security
              Systems integration, landscaping, etc.
            </p>

            <h3 class="head">Vision</h3>

            <p class="contant">To be among the best facility management service providers in the Middle East, influencing the over all
              FM
              industry in high quality and modern practices.</p>

            <h3 class="head">Mission</h3>

            <p class="m-0 contant">Utilizing the latest worldwide technologies and the best human resources to achieve
              sustainable business
              and
              an enviable reputation in the local and regional markets.</p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mt-2 mt-md-0 d-md-flex align-items-md-center h-100 justify-content-md-end text-center">
            <img src="/assets/group-4.png" style="width: 80%; height:auto;" />
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>


<app-loginv2></app-loginv2>