.intro-2 {
  background: url("/assets/hero_image1.png")no-repeat center center;
  background-size: cover;
  /* height: 635px; */
}

.aboutus {
  background: url("/assets/group-4.png")no-repeat center center;
  /* background-size: cover; */
  height: 330px;
  border-radius: 18px;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, .8);
  border-top: 1px solid rgba(255, 255);
  border-bottom: 1px solid rgba(255, 255);
  position: sticky;
  top: 0px;
  z-index: 99;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: #000; */
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  /* background-color: red; */
}

.a {
  color: inherit !important;
  text-decoration: none !important;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #e74c3c;
  font-family: Tahoma, Arial;
}

.navigation {
  background-color: #35353500;
  width: 100%;
  margin: 20px auto;
  min-height: 50px;
}

.navigation>li {
  float: left;
  padding: 0 20px;
}

.navigation>li>a {
  line-height: 50px;
  color: #FFF;
}

.navigation .menu {
  position: relative
}

.navigation .menu .submenu {
  position: absolute;
  /* width: 200px; */
  -webkit-box-shadow: 0px 1px 1px #CCC;
  box-shadow: 0px 1px 1px #CCC;
  display: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .menu:hover .submenu {
  display: block
}

.navigation .menu .submenu:before {
  content: "";
  position: absolute;
  display: block;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #FFF transparent;
  top: -6px;
  left: 5px
}

.navigation .menu .submenu li {
  padding: 5px 10px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .menu .submenu li:hover {
  background-color: #e74c3c;
}

.navigation .menu .submenu li:hover a {
  color: #FFF;
  /* padding: 0 11px; */
}


.dropdown:hover .dropdown-content {
  display: block;
}



nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, .8);
  border-top: 1px solid rgba(255, 255);
  border-bottom: 1px solid rgba(255, 255);
  position: sticky;
  top: 0px;
  z-index: 99
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  float: right;
}

nav ul li {
  list-style: none;
}


nav ul {
  display: flex;

  padding: 0px;
  /* float: ; */
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;

}

/* .switch{
margin-top: 0;
margin-bottom: -5rem;
margin-left: 83%;
color: red;
overflow: hidden;
}
.switch1{
margin-top: 0;
margin-bottom: -2rem;
margin-left: 0%;
color: red;
} */
/* ==============footer style start ========= */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  /* height: 75px; */
}

.container1 {
  background: black;
  color: white
}

.container {
  /* background: black; */
  color: white
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.img-thumbnail {
  background: black;
  border-color: black
}

.home {
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0;
}

.about {
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0;
}


.spacer {
height: 100px;
}
.Who-We-Are-Aman-is-a {
  
  height: 459px;
  font-family: Roboto;
  font-size: 18px;
  text-align: justify;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.Who-We-Are-Aman-is-a .text-style-1 {
  font-size: 24px;
}
.An-overview-of-da {
  
  height: 100%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);

}
/* ===Mobile navbar start=========== */

@media screen and (min-width: 320px) and (max-width: 767px){
  .nav-bg {
    background-color: rgba(0, 0, 0, 0.65) !important;
  }



  
  .pt-120{
    position: relative !important;
    left: 207px !important;

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 4rem!important;
}

.pad_12{
  padding: 0 12px;
}

}

@media screen and (max-width: 768px){
  .nav-bg {
    /* background-color: rgba(0, 0, 0, 0.65) !important; */
  }



  .pt-120{
    position: relative !important;
    left: 232px 

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 5rem!important;
}




li[_ngcontent-c1] {
  float: left;
  padding: 0 12px !important;
}


}

@media screen and (max-width: 1024px){
  .nav-bg {
    /* background-color: rgba(0, 0, 0, 0.65) !important; */
  }



  .pt-120{
    position: relative !important;
    left: 232px 

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 4rem!important;
}




li[_ngcontent-c1] {
  float: left;
  padding: 0 12px !important;
}


}
/* =========Mobile navbar End========== */
/* ===========HEADING STYLE=========== */
.saned_para{
  font-size:16px;
  color: #333; 
  font-family: GeezaPro;
}
.saned_heading{
  font-size: 26px;
  font-family: GeezaPro;
  color: #212529 !important;

}
.saned_heading-1{
  font-size: 20px;
  font-family: GeezaPro;
  color: #212529 !important;

}

/* ==============HEADING STYLE========== */