<div class="footer">
    <div>
<div class="container">
    <div class="row">
     <br>
        <div class="col-sm-3">
          <br>
            <img src="./assets/group-5.png" srcset="./assests/group-5@2x.png 2x,
            ./assests/group-5@3x.png 3x"
  class="img-thumbnail">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h5 class="home text-left">{{'Home' |translate:user}}</h5>
                      <ul class="list-unstyled quick-links text-left">
      
                          <li><a routerLink="about-us" class="about"><font color="#4a4a4a">{{'About Us' |translate:user}}</font></a></li>
                          <li><a class="about"><font color="#4a4a4a">{{'Aman Overview' |translate:user}}</font></a></li>
                          <li><a class="about"><font color="#4a4a4a">{{'Contact Us' |translate:user}}</font></a></li>
          
                      </ul>
          </div>
         
          <div class="col-sm-3">
              <h5 class="home text-left">{{'Support' |translate:user}}</h5>
              <ul class="list-unstyled quick-links text-left">
                <li><a class="about"><font color="#4a4a4a">{{'Privacy Policy' |translate:user}}</font></a></li>
                <li><a class="about"><font color="#4a4a4a">{{'Disclaimer' |translate:user}}</font></a></li>
                <li><a class="about"><font color="#4a4a4a">{{'Terms and Condition' |translate:user}}</font></a></li>
                <li><a class="about"><font color="#4a4a4a">{{'Protecting Lives and Property' |translate:user}}</font></a></li>
   
              </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="home text-left">{{'Company Address:' |translate:user}}</h5>
                <ul class="list-unstyled quick-links text-left">
                  <li><p class="about"><font color="#4a4a4a">{{'Tower 400, 12th Floor, Mina Road' |translate:user}},</font>
                      <br>
                  <font color="#4a4a4a">{{'Sharjah, PO Box 4638 Sharjah - UAE' |translate:user}} </font>
                  <br>
                  <font color="#4a4a4a">{{'Tel:' |translate:user}} +971 6 597 2222</font>
                  <br>
                  <font color="#4a4a4a">{{'Fax:'|translate:user}} +971 6 572 2331</font>
                  <br>
                  <font color="#4a4a4a">{{'Email:'|translate:user}} {{'helpdesk' |translate:user}}.{{'hsg @apleona.com' |translate:user}}</font>
                  <br>
                  <font color="#4a4a4a">{{'www.saned.ae' |translate:user}}</font></p></li>
                </ul>
              </div>
              <hr class="col-md-12 " align="right">
    </div>
  </div>

 
    <p>{{'By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. © 2018.' |translate:user}}</p>
  </div>
</div>
