<nav class="navbar navbar-expand-md  navbar-toggleable fixed-top pt-0 navbar-light bg-light">
    <!-- <img src="./assets/Logo.png" class="img-thumbnail"> -->
    <img src="./assets/group-5.png" srcset="./assests/group-5@2x.png 2x,
                ./assests/group-5@3x.png 3x"
class="img">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <br>
    <hr>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        
    <br>
    <hr>
        <div class="collapse navbar-collapse nav navbar-right col-md-10" id="myNavbar" >
          <ul class="nav navbar-nav mt-2 col-sm-12">
              <div class="col-sm-2">
                  <li><a routerLink="login" style="color:black; font-family:Roboto;font-size:18px"> Home</a></li>
              </div>
              <div class="col-sm-2">
                  <li><a routerLink="about-us" style="color:black; font-family:Roboto;font-size:18px">About US</a></li>
              </div>
              <div class="col-sm-3">
              <li><a routerLink="government-services" style="color:black;font-family:Roboto;font-size:18px">Aman Overview</a></li>
            </div>
            <div class="col-sm-2">
              <li><a routerLink="login" style="color:black;font-family:Roboto;font-size:18px">Contact Us</a></li>
            </div>
            <div class="col-sm-2">
              <li><a href="" style="color:black;font-family:Roboto;font-size:18px">Sitemap</a></li>
              </div>
              <div class="col-sm-1">
              <li><a href="" style="color:black;font-family:Roboto;font-size:18px">Search</a></li>
            </div>
          </ul>
        </div>
     
      </div>
    <hr>
    </nav>
    <hr>
    
    <router-outlet></router-outlet>