@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
 /* ===========navbar start========= */
 .Rectangle-2 {
    width: 123px;
    height: 41px;
    border-radius: 5px;
    background-color: #ff0000;
  }
   .Contact-Us {
    width: 90px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .head{
    font-family: Roboto;
  font-size: 45px;
  color: #ffffff;
  line-height: normal;
  }
  .Rectangle-5-Copy{
    width: 211px !important;
    height: 39px !important;
  }
  .Rectangle-5-otp{
    width: 189px !important;
    height: 39px !important;
   
  }
  .ml_35{
    margin-left: 4.0 !important
  }
  .bg_img {
    background: url("/assets/building.png")no-repeat center center;
      background-size: cover;
      width:100%;
      height: 100vh;
    }
  
    .bg_img1 {
      background: url("/assets/newbg.png")no-repeat center center;
      background-size: cover;
      width:100%;
      height: 100vh;
    }

   .Suppliers {
    width: 77px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
   .Services {
    width: 70px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
   .About-Us-Copy {
    width: 75px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
   .Home-Copy {
    width: 49px;
    height: 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  
  /* ======navbar end===== */

 /* ====================responsive================= */
.mt_20{
  margin-top: 0px;
}
.wt_237{
width: 237px;
}
.wt-con{
width: 232px;
}
.wt_140{
width: 140% !important;
}
/* mobile media query */
@media screen and (min-device-width: 320px) and (max-device-width: 760px){
.nav-bg {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.pt-120{
  position: relative;
  right: 153px;
}
.mt-414{
  margin-top: 0px !important;
}
.ft_18 {
  font-size: 18px;
}



}
/* css for ipad */
@media screen and (min-device-width: 768px) and (max-device-width: 1022px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}
.maxwt_19{
  max-width: 19%;
}
.wt_135{
width: 135px !important;
}
.map_wt{
  width: 175px !important;
}
.ml_135{
  margin-left: 0px !important;
}
.ml_16{
  margin-left: -16px !important;
}
.logo_wt{
width: 109px;
}
.col-sm-2{
  width : 0% ! important;
}

.mt_20{
  
    margin-top: 4px !important; 
  
  shape-margin: 0px !important;
}

.ht_80{
  height:54px !important
}

.pt-120{
  position: relative;
  right: 79px;
}
.mt-414{
  margin-top:0px !important;
}

.ml-5, .mx-5 {
  margin-left: 2.2rem !important;
}

.pad_0{
padding:0 0px !important;
}
.ft_18 {
  font-size: 30px;
}

.wt_106{
  width: 106% !important;
}


}
@media screen and (max-device-width: 1024px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}
.maxwt_19{
  max-width: 19%;
}
.wt_135{
width: 135px !important;
}
.map_wt{
  width: 175px !important;
}
.ml_135{
  margin-left: 0px !important;
}
/* .ml_16{
  margin-left: -16px !important;
} */
.logo_wt{
width: 109px;
}
.col-sm-2{
  /* width : 0% ! important; */
}

.mt_20{
  
    margin-top: 4px !important; 
  
  shape-margin: 0px !important;
}

/* .ht_80{
  height:54px !important
} */

.pt-120{
  position: relative;
  /* right: 79px; */
}
.mt-414{
  margin-top:0px !important;
}

.ml-5, .mx-5 {
  margin-left: 2.2rem !important;
}

.pad_0{
padding:0 0px !important;
}
.ft_18 {
  font-size: 30px;
}

.wt_106{
  width: 106% !important;
}


}

/* =============mobile============ */

.WHAT-IS-Aman- {
  width: 300px;
height: 53px;
font-family: Roboto;
font-size: 31px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.18;
letter-spacing: normal;
color: var(--black);
}
.Sharjah-Asset-Manage {
  /* width: 535px; */
  /* height: 283px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  /* color: black */
}
.Sharjah-Asset-Manage-1 {
  /* width: 535px; */
  /* height: 283px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: red
}
.Sharjah-Asset-Manage-submit {
  /* width: 535px; */
  /* height: 283px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: red;
  width: 211px !important;
height: 39px !important;
}


/* //====================text font size */













body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, .8);
  border-top: 1px solid rgba(255, 255);
  border-bottom: 1px solid rgba(255, 255);
  position: sticky;
  top: 0px;
  z-index: 99;
}

/* ======login form start========= */
/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
/* button {
background-color:#f34235;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
} */

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Change styles for span and cancel button on extra small screens */

/* ========login form end====== */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: #000; */
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  /* background-color: red; */
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #e74c3c;
  font-family: Tahoma, Arial;
}

.navigation {
  background-color: #35353500;
  width: 75%;
  margin: 20px auto;
  min-height: 50px;
}

.navigation>li {
  float: left;
  padding: 0 20px;
}

.navigation>li>a {
  line-height: 50px;
  color: #FFF;
}

.navigation .menu {
  position: relative
}

.navigation .menu .submenu {
  position: absolute;
  /* width: 200px; */
  -webkit-box-shadow: 0px 1px 1px #CCC;
  box-shadow: 0px 1px 1px #CCC;
  display: none;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .menu:hover .submenu {
  display: block
}

.navigation .menu .submenu:before {
  content: "";
  position: absolute;
  display: block;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #FFF transparent;
  top: -6px;
  left: 5px
}

.navigation .menu .submenu li {
  padding: 5px 10px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation .menu .submenu li:hover {
  background-color: #e74c3c;
}

.navigation .menu .submenu li:hover a {
  color: #FFF;
  /* padding: 0 11px; */
}


.dropdown:hover .dropdown-content {
  display: block;
}

nav {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, .8);
  border-top: 1px solid rgba(255, 255);
  border-bottom: 1px solid rgba(255, 255);
  position: sticky;
  top: 0px;
  z-index: 99
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  float: right;
}

nav ul li {
  list-style: none;
}


nav ul {
  display: flex;

  padding: 0px;
  /* float: ; */
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;

}

/* .switch{
  margin-top: 0;
  margin-bottom: -5rem;
  margin-left: 83%;
  color: red;
  overflow: hidden;
}
.switch1{
  margin-top: 0;
  margin-bottom: -2rem;
  margin-left: 0%;
  color: red;
} */
/* ==============footer style start ========= */
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  /* height: 75px; */
}

.container {
  /* background: black; */
  color: white
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.img-thumbnail {
  background: black;
  border-color: black
}

.home {
  font-family: Roboto-Bold;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0;
}

.about {
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0;
}

.container1 {
  background: black;
  color: white
}

.intro-2 {
  background: url("/assets/hero_image.png")no-repeat center center;
  background-size: cover;
  height: 623px;
}
