<app-nav-bg-ar [head]="head" [bg]="bg" [nav_arabic]="nav_arabic" ></app-nav-bg-ar>


<div>
    <div class="container-fluid">
      <br>
        <div class="card" style="border-radius: 18px;">
         
          <ul class="mt-4">
            <li class="contant" routerLink="/login">Home</li>
          
            <li class="contant" routerLink="/about-us">About Us</li>
         
            <li class="contant" routerLink="/supplier-register">Suppliers</li>
         
            <li class="contant" routerLink="/contactus">Contact Us</li>
          
            <li class="contant">Services</li>
           
            <ul>
              <li class="contant"  routerLink="/amanservices">Aman</li>
              <li class="contant" routerLink="/salamaservices">Salama</li>
            
              <li class="contant" routerLink="/facilitymanagement">Integrated
                Facility Management</li>
        
            </ul>
          </ul>
        
        </div>
        <br>
    </div>
</div>


<app-loginv2></app-loginv2>