.contant{
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  cursor:pointer;
  margin-bottom: 20px;
}
.bg_img {
  background: url("/assets/newbg.png")no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100vh;
  }

  .bg_img1 {
    background: url("/assets/newbg.png")no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100vh;
  }
  .head{
    font-family: Roboto;
  font-size: 45px;
  color: #ffffff;
  line-height: normal;
  }