<!-- <app-nav-bg-ar [head]="head" [bg]="bg" [nav_arabic]="nav_arabic" ></app-nav-bg-ar> -->
<div [class]='bg' style="margin-bottom: -50px; position: relative;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4 col-sm-4 p-0 text-left">
        <img class="img-fluid img-size" src="./assets/newChk.png">
      </div>

      <div class="col-md-4 col-sm-4"> </div>

      <div class="col-md-4 col-sm-4 text-right">
        <div class="mt-sm-5 mr-sm-4 mt-md-5 mr-md-5 mt-0 mr-0">

          <font class="mr-2" style="color:#F90E35">English</font>
          <input type="radio" checked>

          <font class="ml-3 mr-1" color="white"> عربى </font>
          <input name="Lang" [(ngModel)]="Lang" type="radio" [value]="true" routerLink={{nav_arabic}}
            [checked]="Lang" />

        </div>
      </div>

    </div>

    <div class="text-center">
      <font class="head"> {{ head }} </font>
    </div>

  </div>

</div>
<app-navbar></app-navbar>

<div>
  <div class="container-fluid">
    <br>
    <div class="card" style="border-radius: 18px;">

      <ul class="mt-4">
        <li class="contant" routerLink="/login">Home</li>

        <li class="contant" routerLink="/about-us">About Us</li>

        <li class="contant" routerLink="/supplier-register">Suppliers</li>

        <li class="contant" routerLink="/contactus">Contact Us</li>

        <li class="contant">Services</li>

        <ul>
          <li class="contant" routerLink="/amanservices">Aman</li>
          <li class="contant" routerLink="/salamaservices">Salama</li>

          <li class="contant" routerLink="/facilitymanagement">Integrated
            Facility Management</li>

        </ul>
      </ul>

    </div>
    <br>
  </div>
</div>


<app-loginv2></app-loginv2>