<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  /* ==============footer style start ========= */
  .container1 {
    background: black;
    color: white
  }

  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    /* height: 75px; */
  }

  .container {
    background: black;
    color: white
  }

  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .img-thumbnail {
    background: black;
    border-color: black
  }

  .home {
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0;
  }

  .about {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
  }

  /* ===========================footer style end================ */
  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #000; */
  }

  header {
    padding: 10px 100px;
    box-sizing: border-box;
  }

  section {
    width: 100%;
    height: 100vh;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Roboto;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    /* background-color: red; */
  }

  .dropdown-content {
    display: block;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  ul {
    padding: 0;
    margin: 0;
    /* list-style: none; */
  }

  ul li a {
    text-decoration: none;
    color: #e74c3c;
    font-family: Roboto;
    /* font-size: 18px; */
  }

  .navigation {
    background-color: #35353500;
    width: 75%;
    margin: 20px auto;
    min-height: 50px;
  }

  .navigation>li {
    float: left;
    padding: 0 20px;
  }

  .navigation>li>a {
    line-height: 50px;
    color: #FFF;
  }

  .navigation .menu {
    position: relative
  }

  .navigation .menu .submenu {
    position: absolute;
    /* width: 200px; */
    -webkit-box-shadow: 0px 1px 1px #CCC;
    box-shadow: 0px 1px 1px #CCC;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .navigation .menu:hover .submenu {
    display: block
  }

  .navigation .menu .submenu:before {
    content: "";
    position: absolute;
    display: block;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #FFF transparent;
    top: -6px;
    left: 5px
  }

  .navigation .menu .submenu li {
    padding: 5px 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .navigation .menu .submenu li:hover {
    background-color: #e74c3c;
  }

  .navigation .menu .submenu li:hover a {
    color: #FFF;
    /* padding: 0 11px; */
  }


  .dropdown:hover .dropdown-content {
    display: block;
  }

  section.sec1 {
    background: url(natures-temples.png);
    background-size: cover;
  }

  section.banner {
    background: url(Group.png);
    background-size: cover;
    margin-left: 15px;
  }

  section.sec2 {
    padding: 100px;
    box-sizing: border-box;
  }

  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99
  }

  nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    float: right;
  }

  nav ul li {
    list-style: none;
  }


  nav ul {
    display: flex;

    padding: 0px;
    /* float: ; */
  }

  nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;

  }
</style>

<!-- <p>
        <label><input #arabic type="radio" name="size" (change)="0" >عربى</label>
        <label><input #english type="radio" name="size" (change)="0" checked>English</label>
    </p> -->


<!------ Include the above in your HEAD tag ---------->
<section class="view intro-2 hm-gradient">

  <div class="row">
    <div class="col-md-1">

      <img src="./assets/group.png" srcset="./assets/group@2x.png 2x,
                    ./assets/group@3x.png 3x" class="img-responsive">
    </div>
    <br>
    <div class="col-md-4"></div>
    <div class="col-md-6   text-right">


      <br><br>
      <input type="radio" checked />&nbsp;
      <font style="color:#F90E35;font-size: 14px;">English</font> &nbsp;
      &nbsp;
      <input type="radio" style="margin-left: -9px;" routerLink="/login-arbic" />&nbsp;
      <font color="white" style="font-size: 14px;">عربى</font>

      &nbsp;
      <!-- <button type="submit" style="background-color: #ff0000; height: 35px;
                                    width: 100px; padding: 2px 20px;margin-top: -2px;" class="btn Rectangle-5-Copy">
        <font color="white" style="font-family:Roboto;font-size:15px">Register</font>
      </button>

      <a class="btn mb-1">
        <font color="white" style="font-family: Roboto;font-size: 15px;">Sign in </font>
      </a> -->

    </div>



  </div>



  <br><br><br>
  <div class="text-center">
    <h1>
      <font color="white" style="font-family:Roboto;font-size: 50px;">Site map</font>
    </h1>

  </div>
  <!-- </div> -->


  <!-- </div> -->
  <!-- </div> -->

  <!-- </div> -->
</section>
<br> <br> <br>
<app-navbar></app-navbar>
<br>
<br>


<div class="card col-md-12 " style="border-radius: 18px;
   background: white;">
  <br>
  <br>
  <br>

  <!-- <form class="example text-center col-md-12" action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">
        <font style="color:#F90E35">Search</font>
      </button>
    </form> -->

  <!-- <form>
  <ul>
   <h2> <li><a href="#home">Aman</a></li></h2>
    <h2><li><a href="#news">Salama</a></li></h2>
   
  </ul>
</form> -->
  <ul class="w3-ul w3-hoverable bb_3 ml-3">
    <li style="cursor:pointer" style="font-size: 18px;font-family: Roboto" routerLink="/login">Home</li>
    <br>
    <li style="cursor:pointer" style="font-size: 18px;font-family: Roboto" routerLink="/about-us">About Us</li>
    <br>
    <li style="cursor:pointer" style="font-size: 18px;font-family: Roboto" routerLink="/supplier-register">Supplier</li>
    <br>
    <li style="cursor:pointer" style="font-size: 18px;font-family: Roboto" routerLink="/contactus">Contact Us</li>
    <br>
    <li style="font-size: 18px;font-family: Roboto">Services</li>
    <!-- <h2><a >Services</h2> -->
    <br>
    <ul style="margin-left: 35px;">
      <li style="cursor:pointer" style="font-size: 16px;font-family: Roboto" routerLink="/amanservices">Aman</li><br>
      <li style="cursor:pointer" style="font-size: 16px;font-family: Roboto" routerLink="/salamaservices">Salama</li>
      <br>
      <li style="cursor:pointer" style="font-size: 16px;font-family: Roboto" routerLink="/facilitymanagement">Integrated
        Facility Management</li>

    </ul>
  </ul>
  <br>
  <br>
</div>
<br>
<br>
<app-loginv2></app-loginv2>

<router-outlet></router-outlet>