@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.naviagaion{
    font-family: Roboto;
    font-size: 13px;
  letter-spacing: 0;
  cursor: pointer;
  }

  .address{
    font-family: Roboto;
    font-size: 13px;
  letter-spacing: 0;
  }

  .home{
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 14px;
  letter-spacing: 0;
  }

  .mailInput{
    background: black;
    border-color: #6c757d;
    vertical-align:9px;
    color:#bbb;
    font-family: Roboto;
  }

  .followUs{
    color:white;
     font-family: Roboto;
    font-size: 14px;
    margin: 0px;
  }

  .condition{
    font-family: Roboto;
    text-align: center;
    color: white;
    font-size: 12px;
  }

  .website{
      color: white;
      font-weight: 500;
      text-align: center;
      font-size:16px;
  }

  .social:hover {
      cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .social {
      margin-right: 12px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }