


<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!------ Include the above in your HEAD tag ---------->


        <!--Main Navigation-->
        <header>

            <!--Navbar-->
          

            <!--Intro Section-->
            <section class="view intro-2 hm-gradient">
                <!-- <img href="#" data-toggle="modal" data-target="#myModal" src="assests/lawyer-today-1.png" srcset="assests/lawyer-today-1@2x.png 2x,
                assests/lawyer-today-1@3x.png 3x"
class="NEM mt-3"> -->
<div class="container">
    <div class="col-md-1">
        <img src="./assets/logv2-2.png" class="img-responsive">
    </div>
</div>
<div class="container">
  <div class="row">
     
<div class="col-md-7">
    
                <div class="full-bg-img">
                   
                    <div class="container flex-center">
                       
                        <div class="row flex-center pt-5 mt-3">
                            <div class="col-md-12 text-center text-md-left margins">
                              <!-- <section class="logov2"></section> -->
                              
                              
                              <div class="white-text">
                                    <a class="h1-responsive Delivering-your-divi"  data-wow-delay="0.3s"><font color="white">{{'‘Welcome to SANED - We manage and run 
                                        your real estate and technical facilities and 
                                        support you in your core business with our 
                                        wide range of services.”' | translate:user}}</font></a>
                                        <br>
                                        <!-- <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s"> -->
                                        
                                        <br>
                                        <a href=""><font color="" class="Know-More">{{'Know more'|translate:user}} </font></a>
                                        <a href=""> <img  src="./assets/tail-left-copy.png"
                                         srcset="./assets/tail-left-copy@2x.png 2x,
                                                 ./assets/tail-left-copy@3x.png 3x"
                                         class="tail-left-copy"></a>
                                    </div>  
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>
<br>

                <hr style="color:red;">
              </div>
              </div>
              
            </section>

        </header>
        <br>
        <br> <br> <br>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
              <div class="col-sm-8 ">

                  <a class="WHAT-IS-Aman-">{{'WHAT IS Aman ?'|translate:user}}</a>
              </div>
            
              <p class="col-sm-12 text-justify " > {{'A cutting-edge building safety solution protecting lives and properties across the Sharjah through the Alarm Receiving Centre (ARC) operators who verify if an alarm is genuine or false in less than 120 seconds.'|translate:user}}
             <br>
             <br>
                <a href=""><font color="#f34235" class="Know-More">{{'Know more'| translate:user}} </font></a>
            <a href=""> <img  src="./assets/tail-left-copy.png"
             srcset="./assets/tail-left-copy@2x.png 2x,
                     ./assets/tail-left-copy@3x.png 3x"
             class="tail-left-copy"></a>
            </p>
          </div>
          <br>
          <div class="col-sm-6">
              <div class="col-sm-5">
                  <a class="benefits">{{'BENEFITS'| translate:user}}</a>
                  </div>
                  <p class="col-md-12 text-justify " > {{'Reduce the impact of any security, fire and life safety event.' | translate:user }}.
                    <br> 
                    {{'Maximize efficient safety monitoring of property and assets.' | translate:user}}
                      <br>
                      {{'Analyze data to help emergency services.'| translate:user}}
                      <br>
                      <a href=""><font color="#f34235" class="Know-More">{{'Know more'| translate:user}} </font></a>
                      <a href=""> <img  src="./assets/tail-left-copy.png"
                       srcset="./assets/tail-left-copy@2x.png 2x,
                               ./assets/tail-left-copy@3x.png 3x"
                       class="tail-left-copy"></a>
                    </p>
                    </div>
        </div>
      </div>
      <br>
      <br>
      <section class="view intro-4 hm-gradient">
       
                          <br><br><br><br><br><br>
                            <div class="col-md-6 text-center ml-4">
                                <h1><font color="white">{{'LET’S TALK TOGETHER' |translate:user}}</font></h1>
                                <div class="col-md-7 text-center ml-4">
                                  <button onclick="document.getElementById('id01').style.display='block'" style="width:200px;font-family: ProximaNova-Regular
                                  ">LOGIN</button>

                                  <div id="id01" class="modal">
                                    
                                    <form class="col-md-4 modal-content animate"  [formGroup]="loginFormv2">
                                      <div class="imgcontainer">
                                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                        <br>
                                        <a class="Welcome-To-Aman">{{'Welcome to Aman'| translate:user}}</a>
                                      </div>
                                  
                                      <div class="container">
                                        <div class="row">
                                        <div class="col-md-12">
                                        <label class="col-md text-left"><b>Email ID</b></label>
                                        <input type="text"  class="form-control" formControlName="email"  [(ngModel)]="email" name="ngModel" >
                                        <!-- <input type="text" placeholder="Enter Emai-Id" name="uname" required>
                                   -->
                                        <label class="col-md text-left"><b>Password</b> </label>
                                        <input type="password"  class="form-control" formControlName="password"  [(ngModel)]="password" >
                                     
                                        
                                        <label class="col-md text-left">
                                          <input type="checkbox" checked="checked" name="remember"> Remember me
                                        </label>
                                        <span class="psw">Forgot <a href="#">password?</a></span>
                                        <button type="submit" (click)="login(model)">Login</button>
                                      </div>
                                      </div>
                                      </div>
                                  
                                      <div class="container" style="background-color:#f1f1f1">
                                      
                                      
                                      </div>
                                    </form>
                                  </div>
                                  
                                            </div>
                            </div>
                            <br><br><br><br><br><br>
                  
        </section>
     
