<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  body {
    margin: 0;
    margin-top: -58px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    margin-top: -20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: right;
    background-color: #fff;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99;
  }

  header {
    padding: 10px 100px;
    box-sizing: border-box;
  }

  section.card {
    width: 100%;
    height: 100vh;
  }

  /* section{
                                           width: 100%;
                                           height: 100vh;
                                       } */

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .mt_200 {
    /* margin: 220px !important; */
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    /* background-color: red; */
  }

  .dropdown-content {
    display: block;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul li a {
    text-decoration: none;
    color: #e74c3c;
    font-family: Tahoma, Arial;
  }

  .navigation {
    background-color: #35353500;
    /* width: 62%; */
    margin: 20px auto;
    min-height: 50px;

  }

  .navigation>li {
    float: left;
    padding: 0 20px;
  }

  .navigation>li>a {
    line-height: 50px;
    color: #FFF;
  }

  .navigation .menu {
    position: relative
  }

  .navigation .menu .submenu {
    position: absolute;
    /* width: 200px; */
    -webkit-box-shadow: 0px 1px 1px #CCC;
    box-shadow: 0px 1px 1px #CCC;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .navigation .menu:hover .submenu {
    display: block
  }

  .navigation .menu .submenu:before {
    content: "";
    position: absolute;
    display: block;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #FFF transparent;
    top: -6px;
    left: 5px
  }

  .navigation .menu .submenu li {
    padding: 5px 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .navigation .menu .submenu li:hover {
    background-color: #e74c3c;
  }

  .navigation .menu .submenu li:hover a {
    color: #FFF;
    /* padding: 0 11px; */
  }


  .dropdown:hover .dropdown-content {
    display: block;
  }

  section.sec1 {
    background: url(natures-temples.png);
    background-size: cover;
  }

  section.banner {
    background: url(Group.png);
    background-size: cover;
    /* margin-left: 15px; */
  }

  section.sec2 {
    padding: 100px;
    box-sizing: border-box;
  }

  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99
  }

  nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    float: right;
  }

  nav ul li {
    list-style: none;
  }


  nav ul {
    display: flex;

    padding: 0px;
    /* float: ; */
  }

  nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;

  }

  /* ==============footer style start ========= */
  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    /* height: 75px; */
  }

  .container1 {
    background: black;
    /* color: white */
  }

  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .img-thumbnail {
    background: black;
    border-color: black
  }

  .home {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0;
  }

  .about {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
  }

  /* ===========================footer style end================ */
</style>



<!--=====footer english start==-->
<div class="container1 col-md-12">
  <br><br>
  <div class="row">

    <div class="col-sm-2">
      <img src="./assets/footersanedlogo.png" srcset="./assets/footersanedlogo@2x.png 2x,
              ./assets/footersanedlogo@3x.png 3x" class="img-responsive">

    </div>

    <div class="col-md-2">
      <h5 class="home" style="color:white;font-family: Roboto;">Navigations</h5>
      <ul class="list-unstyled quick-links">

        <li><a routerLink="/about-us" class="about">
            <font color="white">About Us</font>
          </a></li>
        <li><a routerLink="/amanservices" class="about">
            <font color="white">Services</font>
          </a></li>
        <li><a routerLink="/sitemap" class="about">
            <font color="white">Sitemap</font>
          </a></li>
        <li><a routerLink="/contactus" class="about">
            <font color="white">Contact Us</font>
          </a></li>
        <li><a routerLink="/privacy" class="about">
            <font color="white">Privacy Policy</font>
          </a></li>
      </ul>
    </div>

    <!-- <div class="col-sm-3">
                                     <h5 class="home">Support</h5>
                                     <ul class="list-unstyled quick-links">
                                       <li><a class="about"><font color="white">Privacy Policy</font></a></li>
                                       <li><a class="about"><font color="white">Disclaimer</font></a></li>
                                       <li><a class="about"><font color="white">Terms and Condition</font></a></li>
                                       <li><a class="about"><font color="white">Protecting Lives and Property</font></a></li>
                          
                                     </ul>
                                   </div> -->
    <div class="col-sm-2">
      <h5 class="home" style="color:white;font-family: Roboto;">Company Address:</h5>
      <ul class="list-unstyled quick-links">
        <li>
          <p class="about">
            <font color="white">Tower 400, 18th Floor,</font>
            <br>
            <font color="white"> Mina Road Sharjah,</font>
            <br>
            <font color="white"> PO Box 4648 Sharjah - UAE </font>
            <br>
            <font color="white">Phone: +971 6 506 6555</font>
            <br>
            <font color="white">Fax: +971 6 572 2331</font>
            <br>
            <font color="white">Email: helpdesk@saned.ae</font>
            <br>
            <a routerLink="login">
              <font color="white">Website: www.saned.ae</font>
            </a>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 ">
      <a target="_blank"
        href="http://maps.google.com/?q=Tower 400,18th Floor,Mina Road Sharjah,PO Box 4648 Sharjah - UAE ">


        <img src="./assets/map.png" srcset="./assets/map@2x.png 2x,
      ./assets/map@3x.png 3x" class="img-responsive">
      </a>
    </div>
    <div class="col-sm-3 col-sm-2">
      <p style="color:white; font-family: Roboto;
                                  font-size: 14px;">Follow us
        <a><i class="fa fa-linkedin-square fa-3x social" style="color:#007bb5"></i></a>
        <a><i class="fa fa-twitter-square fa-3x social" style="color:#55ACEE"></i></a>
        <a><i class="fa fa-facebook-square fa-3x social" style="color:#3B5998"></i></a>
        <a><i class="fa fa-instagram square fa-3x social" style="color:#55ACEE"></i></a>
        <h6 style="color:white;font-family: Roboto;
                                    font-size: 14px;">Subscribe to
          Our
          Newsletter</h6>
        <div class="input-group mb-3">

          <input type="email" name="email_id" [(ngModel)]="model_value.email" #name="ngModel" id="email_id" style="background: black;
                                        border-color: #6c757d;vertical-align:9px;color:#bbb;font-family: Roboto"
            class="form-control" required placeholder="Enter your mail id" aria-label="Recipient's username"
            aria-describedby="basic-addon2">

          <div class="input-group-append">

            <button class="btn btn-outline-secondary" type="button">
              <font style="color:#ff0000;font-family: Roboto" (click)="Subscribe(model_value)">Subscribe</font>
            </button>
          </div>
        </div>

    </div>
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-12 text-center" style="color: white">Website in construction mode</div>
    <hr class="col-md-11" style="background:white">
  </div>


  <div class="footer">
    <div>
      <p style=" font-family: Roboto;
                                  font-size: 12px;">By continuing past this page,
        you
        agree
        to our
        Terms of Service, Cookie Policy, Privacy Policy and
        Content Policies. © 2019.</p>
    </div>

  </div>
  <br>
</div>
<!-- ================footer  english end== -->