<app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg>

<div class="container-fluid" dir="rtl">

    <div class="card my-4">

        <div class="row text-justify my-4">

            <div class="col-sm-7 col-md-7">
                <div class="mx-3">
                    <div>
                        <h1 class="head mt-4">المقدمة</h1>
                        <p class="contant"> تقدم شركة ساند أفضل الخدمات في فئتها في جميع الصناعات والمواقع المتعددة
                            التي
                            تتميز بنموذج تقديم
                            خدمة ذات جودة عالية، يقوم مبدأ عمل الشركة على أن يكون مكملا للأهداف الإستراتيجية والتشغيلية
                            لأي
                            مؤسسة. وعليه فإننا في ساند نقوم بدمج الوظائف الأساسية مثل العمليات والتقنيات مع الأفراد
                            لضمان
                            المرونة والتكامل المستقبلي ودعمها من خلال أحدث الأنظمة الحاسوبية. تقوم ساند بالمشاركة مع
                            العملاء
                            بتحديث وتطوير مستوى الخدمة بشكل مستمر وزيادة الكفاءة التشغيلية للأنظمة المراد صيانتها، مما
                            ينتج
                            عنه
                            تقليل الوقت اللازم للصيانة وزيادة الإيرادات بخفض تكاليف التشغيل، والقضاء على الازدواجية بين
                            العميل
                            وشركة التشغيل.</p>

                        <h1 class="head mt-5">الخدمات الأساسية </h1>
                        <h2 class="subhead mt-2">1. خدمات إدارة المرافق</h2>

                        <ul class="contant">
                            <li>الخدمات التقنية والفنية التخصصية</li>
                            <li>خدمات غير التقنية</li>
                            <li>خدمات العملاء</li>
                            <li>خدمات إدارة وتوفير استهلاك الطاقة</li>
                        </ul>

                        <h2 class="subhead mt-4">2. الخدمات الإستشارية</h2>

                        <ul class="contant">
                            <li>التصميم والاستشارات</li>
                            <li>إدارة المشارويع</li>
                            <li>الأعمال الداخلية والديكور</li>
                            <li>إدارة مشتريات</li>
                        </ul>

                        <h2 class="subhead mt-4">3. خدمات الصيانة الصناعية</h2>

                        <ul class="contant">
                            <li>خدمات دعم الإنتاج عبر الإنترنت</li>
                            <li>خدمات دعم الإنتاج دون اتصال</li>
                            <li>إدارة المستودعات</li>
                        </ul>

                    </div>

                    <div class="mr-4 mr-md-5 mr-sm-5">

                        <h2 class="subhead mt-4">خدمات إدارة المرافق</h2>
                        <h4 class="subhead-unbold">الخدمات التقنية والفنية التخصصية</h4>
                        <ul class="contant">
                            <li>الصيانة الميكانيكية والكهربائية</li>
                            <li>إدارة أنظمة المباني</li>
                            <li>صيانة المحطات</li>
                            <li>نظام التبريد (التشغيل والصيانة)</li>
                            <li>السباكة وإدارة المياه</li>
                            <li>إدارة الطاقة</li>
                            <li>تنظيف واجهة المباني</li>
                            <li>تنظيف السجاد والتنجيد</li>
                            <li>تنظيف و بلورة الرخام</li>
                            <li>إدارة الطاقة</li>
                        </ul>

                        <h2 class="subhead-unbold mt-4">خدمات غير تخصصية</h2>

                        <ul class="contant">
                            <li>خدمات النظافة</li>
                            <li>خدمات الحراسة</li>
                            <li>عمليات البستنة وصياننتها</li>
                            <li>مكافحة الحشرات</li>
                            <li>توريد العمالة</li>

                        </ul>

                        <p class="contant">ويتم تفصيل هذه الخدمات لملاءمة كل عميل كل حسب حاجته.</p>

                        <h2 class="subhead mt-4">الخدمات الإستشارية</h2>

                        <p class="contant">تقدم شركة ساند شراكات مع مالكي المباني والمستخدمين لتسهيل الانتقال الفعال،
                            وتحقيق
                            أقصى عائد بخفض
                            تكاليف التشغيل مع الحفاظ على مستويات خدمة عالية.</p>

                        <p class="contant">بالإضافة إلى توفير خدمات إدارة المرافق الأساسية ، فإن ساند تقدم حلولًا
                            لعملائنا
                            حول:</p>

                        <ul class="contant">
                            <li>الحسابات والإدارة</li>
                            <li>صيانة كاملة للممتلكات</li>
                            <li>الاتصال والعلاقات العامة مع الوكالات الحكومية</li>
                            <li>الإشراف المدني</li>
                            <li>إدارة المقاولين</li>
                            <li>الصحة والسلامة والأمن والبيئة</li>
                            <li>الأمور القانونية والتراخيص</li>
                            <li>إدارة الإتصال والتعامل مع العملاء</li>
                            <li>إدارة الزوار</li>
                            <li>إدارة مواقف السيارات</li>

                        </ul>

                        <h2 class="subhead">الخدمات الصناعية</h2>

                        <p class="contant">تقدم شركة ساند خدمات صناعية ذات مستوى عالمي مع خبرة لا مثيل لها ونتائج تشمل
                            جميع
                            الأنشطة ذات الصلة
                            في الصناعات المختلفة ، ومشاريع البنية التحتية ، ومحطات التبريد العملاقة، والمحلات بما في
                            ذلك
                            التجميع والتعبئة والتخزين والدعم اللوجستي وخدمات الإرسال. يتم توسيع خدماتنا لتشمل العديد من
                            وحدات
                            التصنيع الرائدة ومجموعة من الصناعات مثل السيارات، الزجاج ، الفولاذ ، المكونات الكهربائية
                            والإلكترونية ، الآلات الثقيلة ، المسابك ، الإطارات ، الكيماويات المتخصصة ، البنزين
                            بالمنتجات
                            الخ...

                        </p>

                        <p class="contant">بدعم من مجموعة كبيرة من الموارد مع مجموعات متنوعة من المهارات لتتناسب مع
                            متطلبات
                            وحدات التصنيع ،
                            نستطيع زيادة أو خفض الأنشطة بفعالية، في إطار زمني محدد، مع تطوير وصيانة قاعدة بيانات من
                            القوى
                            العاملة المدربة كإجراء احترازي لجميع الأوقات.

                        </p>

                        <p class="contant">تم تقديم نماذج عقود مختلفة مثل نماذج التوظيف المخصصة أو نماذج تقديم الخدمات
                            على
                            أساس
                            الإنتاج.
                        </p>

                        <p class="contant">إن التزامنا تجاه الأشخاص والعمليات والجودة المتسقة هي أهم ثلاثة جوانب من
                            أعمالنا.</p>

                        <h4 class="subhead-unbold">عمليات الجودة لدينا:</h4>

                        <ul class="contant">
                            <li>تحقيق أعلى مستوى من الجودة</li>
                            <li>تعزيز رضا العملاء برفع الأداء والتحسين المستمر في معايير الجودة</li>
                            <li>المساهمة في الصناعة مع الابتكارات المستمرة والتحسينات على الجودة والعمليات في أنظمة
                                إدارة
                                الجودة لدينا</li>
                        </ul>

                        <h2 class="subhead-unbold">الكادر الفني والعملي</h2>

                        <p class="contant">إن صناعتنا موجهة للناس ولذلك نولي أهمية كبيرة لتعزيز المهارات المهنية
                            المبرمجة
                            للقوى
                            العاملة. ولضمان
                            ذلك نولي أهمية كبيرة للتدريب المستمر والمشاركة في المعرفة التميز في إنتاج العمل في جميع
                            المجالات

                        </p>

                        <h2 class="subhead-unbold">العمليات</h2>

                        <p class="contant">تضمن خدمات المراقبة المجدولة الدورية والجودة مع التحسين المستمر تدفق العملية
                            مما
                            يؤدي إلى ثقافة مكان
                            أفضل للعمل عبر مرافق التصنيع الخاصة بالعملاء.

                        </p>

                        <p class="contant">تدرك شركة ساند مدى حساسية جميع الأعمال التجارية وسريتها ، كما أن خدماتنا
                            مصممة
                            لدعم
                            أعمال العملاء
                            وتمكين موظفيهم من العمل في المستويات المثلى. من الضروري أن تعمل المرافق بسلاسة لضمان هدر
                            أقل
                            للوقت


                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-5 col-md-5 text-center">

                <img src="./assets/facility_image1.png" srcset="./assets/facility_image1@2x.png 2x,
                ./assets/facility_image1@3x.png 3x"
                    class="img-fluid sticky">

            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>