<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->






<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>




<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  /* ==============footer style start ========= */
  .container1 {
    background: black;
    color: white
  }
  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    /* height: 75px; */
  }
  .container {
    background: black;
    color: white
  }
  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .img-thumbnail {
    background: black;
    border-color: black
  }
  .home {
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0;
  }
  .about {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
  }
  /* ===========================footer style end================ */
  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #000; */
  }
  header {
    padding: 10px 100px;
    box-sizing: border-box;
  }
  section {
    width: 100%;
    height: 100vh;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Roboto;
    margin: 0;
  }
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    /* background-color: red; */
  }
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  ul li a {
    text-decoration: none;
    color: #e74c3c;
    font-family: Roboto;
    /* font-size: 18px; */
  }
  .navigation {
    background-color: #35353500;
    width: 75%;
    margin: 20px auto;
    min-height: 50px;
  }
  .navigation>li {
    float: left;
    padding: 0 20px;
  }
  .navigation>li>a {
    line-height: 50px;
    color: #FFF;
  }
  .navigation .menu {
    position: relative
  }
  .navigation .menu .submenu {
    position: absolute;
    /* width: 200px; */
    -webkit-box-shadow: 0px 1px 1px #CCC;
    box-shadow: 0px 1px 1px #CCC;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .navigation .menu:hover .submenu {
    display: block;
  }
  .navigation .menu .submenu:before {
    content: "";
    position: absolute;
    display: block;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #FFF transparent;
    top: -6px;
    right: 5px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  section.sec1 {
    background: url(natures-temples.png);
    background-size: cover;
  }
  section.banner {
    background: url(Group.png);
    background-size: cover;
    margin-left: 15px;
  }
  section.sec2 {
    padding: 100px;
    box-sizing: border-box;
  }
  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99
  }
  nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    float: right;
  }
  nav ul li {
    list-style: none;
  }
  nav ul {
    display: flex;
    padding: 0px;
    /* float: ; */
  }
  nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
  }
</style>




<!------ Include the above in your HEAD tag ---------->
<section class="view intro-2 hm-gradient" style="width:100%;height:100vh">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 p-0">
        <img class="img-fluid" src="./assets/group.png" srcset="./assets/group@2x.png 2x, ./assets/group@3x.png 3x" >
      </div>

      <br>
      <!-- <div class="col-md-4"></div> -->
      <div class="col-md-6 mt-5 text-right">
        &nbsp; &nbsp;

        <font style="color:#F90E35">English</font>&nbsp;
        <input type="radio" checked>&nbsp;

        <font color="white"> عربى </font>
        <input name="Lang" style="color:#ff0000;" checked [(ngModel)]="Lang" type="radio" [value]="true" routerLink="/facilityarabic"
          [checked]="Lang" />&nbsp;

      </div>
    </div>
  </div>





  <br><br><br>
  <div class="text-center">
    <h1>
      <font color="white" style="font-family:Roboto;font-size: 45px;">Integrated Facility Management</font>
    </h1>

  </div>
  <!-- </div> -->


  <!-- </div> -->
  <!-- </div> -->

  <!-- </div> -->
</section>
<br> <br><br>
<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>“Caring for the nation by helping protect lives and property from fire and life safety events is our primary goal.“</b></h3> -->

  <div class="card col-md-12" style="border-radius: 18px;
    background: white;margin-top:-190px;">
    <br>
    <br>
    <div class="row">
      <div class="col-md-7">

        <div class="col-md-12">
        
          <br>
          <a class="WHAT-IS-Aman-">Introduction</a>

          <br>
          <br>
          <p class="Sharjah-Asset-Manage text-justify mt-2">SANED offers the best in
            class
            services across all industries and multiple sites with a
            robust and systematic
            service delivery model, designed to complement the strategic and operational objectives of an organization.
            Integrating key functions like processes and technologies with people to ensure flexibility for future
            integration and supported by the latest CAFM (computer aided facilities management) systems and platforms
            and
            Integrated packages in Microsoft for all backend business processes - SANED has partnered with clients to
            deliver and maintain consistently high service levels, operational efficiency and continuous improvement.
            Reduced down time, maximizing revenues with lower operating costs, eliminating duplications are some of our
            key
            result areas (KRA’s).</p>
        </div>



        <div class="col-md-10">
          <a class="WHAT-IS-Aman-">Our Core services:</a>
          <br>
          <a class="WHAT-IS-Aman-1" style="text-decoration: underline;"><b>1. Facilities Management Services</b></a>

          <div class="Sharjah-Asset-Manage mt-2 ml-5">
            <ul>

              <li>Hard Services</li>

              <li>Soft Services</li>

              <li>Help Desk Management Services</li>

              <li>Energy Management Services</li>
            </ul>
          </div>
        </div>
        <br>

        <div class="col-md-10">
          <a class="WHAT-IS-Aman-1" style="text-decoration: underline;"><b>2. FM Consulting Services</b></a>
          <br>
          <div class="Sharjah-Asset-Manage mt-2 ml-5">
            <ul>

              <li>Design and Consultancy</li>

              <li>Project Management</li>

              <li>Fit out works</li>

              <li>Vendor Management</li>
              <li>Help Desk Management Services</li>
            </ul>
          </div>
        </div>

        <br>

        <div class="col-md-10">
          <a class="WHAT-IS-Aman-1" style="text-decoration: underline;"><b>3. Industrial Maintenance Services</b></a>

          <div class="Sharjah-Asset-Manage text-justify mt-2 ml-5">
            <ul>
              <li>Online Production Support Services</li>

              <li>Offline Production Support Services</li>

              <li>Warehouse Management</li>

            </ul>
          </div>
        </div>

        <br>

        <div class="col-md-10 ml-0 ml-sm-3">
          <a class="WHAT-IS-Aman-1" style="text-decoration: underline;"><b>Facilities Management Services</b></a>

          <br>

          <div class="ml-0 ml-sm-3">
            <a class="WHAT-IS-Aman-2">Hard Services</a>

            <div  class="Sharjah-Asset-Manage mt-2 ml-5">
              <ul>

                <li >Mechanical and Electrical Maintenance</li>

                <li>BMS Operation</li>

                <li>Plant Maintenance</li>
                <li>HVAC (Operation & Maintenance)</li>
                <li>Plumbing & Water Management</li>

              </ul>
            </div>

            <br>
            <a class="WHAT-IS-Aman-2">Soft Services</a>

            <div class="Sharjah-Asset-Manage text-justify mt-2 ml-5">
              <ul>

                <li>Housekeeping & Janitorial Services</li>

                <li>Garden and Lawn Maintenance</li>

                <li> Specialized Services</li>

                <li>Events & Selective unique contracts</li>

                <li>Facade Cleaning</li>

                <li>Carpet & Upholstery</li>

                <li>Marble Crystallization</li>

                <li>Energy Management</li>

                <li>Security Services</li>

                <li>Guarding and Patrolling</li>

                <li>Electronic Surveillance</li>

                <li>Business Support Services</li>

                <li>Staffing</li>

                <li>Payroll Management</li>

                <li>Office Administration</li>

                <li>Mail Room Management</li>

                <li>Food and Beverage Vending</li>

              </ul>
            </div>
          </div>
        </div>
        <div  class="Sharjah-Asset-Manage text-justify mt-2 ml-4">
          <p class="ml-0 ml-sm-3">These services are offered as bundled services (two or more services) or fully
            integrated and tailored to
            each
            customer’s unique requirements.</p>
        </div>

        <div class="Sharjah-Asset-Manage text-justify mt-2 ml-4">
          <div class="ml-0 ml-sm-3">
            <a class="WHAT-IS-Aman-1" style="text-decoration: underline;">
              <b>FM Consulting Services</b>
            </a>

            <p class="Sharjah-Asset-Manage text-justify mt-2 ">SANED offers partnerships with building owners and
              users for facilitation of an efficient transition,
              maximizing revenues with lower operating costs while maintaining high service levels.
              <br>
              In addition to providing core Facilities Management Services our FMCS provides solutions to our clients
              on:
            </p>






            <div class="Sharjah-Asset-Manage text-justify mt-2 ml-5">
              <ul>
                <li>Accounts and Administration</li>

                <li> Occupant Management</li>

                <li> Complete maintenance of property including common area maintenance (CAM)</li>

                <li> Liaison and PR with Government Agencies</li>

                <li> Civil Supervision</li>

                <li> Vendor Management</li>

                <li> Health, Safety, Security and Environment</li>

                <li> Space Management</li>

                <li> Statutory / Legal Compliances and licenses</li>

                <li> Help Desk Management</li>

                <li> Visitor Management</li>

                <li> Parking Management</li>
              </ul>
            </div>
            <br>
            <p class="Sharjah-Asset-Manage text-justify mt-2 ml-4">In addition to providing core FMCS will provide
              solutions to our clients on:</p>
            <div class="Sharjah-Asset-Manage text-justify mt-2 ml-5">
              <ul>
                <li>Property and Services takeover for complete maintenance and management</li>
                <li> Liaise with Public Utility Agencies, Government Bodies and relevant authorities for timely payment
                  of
                  all
                  dues and taxes</li>

                <li> Maintain and assist in updating NOC’s, permits, renewals , insurance coverage , claims etc.</li>

                <li> Vendor management / Maintain 3rd party contracts</li>

                <li> Life Safety and Security Systems Management</li>

                <li> Procurement of consumables and inventory management</li>

                <li> Maintain PPM schedules of all equipment’s and installations - routine, annual and breakdown
                  maintenance
                </li>

                <li> 24 X 7 Central Help Desk services - record, track, execute and report all work orders and
                  complaints,
                  MIS’s
                  – daily, monthly and quarterly and annual</li>

                <li> Complete Tenant relationship management - Represent Client for compliance of SLA’s / lease
                  agreements
                  /
                  Terms and Conditions of occupants /Timely submission of bills, follow up and collection of rents and
                  payments
                  from occupants</li>

                <li> Coordination and inspection of any work initiated within the premises until completion</li>
              </ul>
            </div>
            <br>

            <a class="WHAT-IS-Aman-2">Pre-Occupancy Management:</a>

            <div class="Sharjah-Asset-Manage text-justify mt-2 ml-5">
              <ul>
                <li>CAM Estimations and Budgeting</li>

                <li> Transition Phase Management</li>

                <li>Property Take Over</li>
              </ul>
            </div>
            <br>
            <a class="WHAT-IS-Aman-2">Post Occupancy Management:</a>

            <div>
              <div class="Sharjah-Asset-Manage text-justify mt-2 ml-5">
                <ul>
                  <li>Tenant Relationship Management</li>

                  <li> Operations and Maintenance</li>

                  <li> Set Up Budgets - Revenue / Operations
                  </li>
                  <li> Client Relationship Management</li>

                  <li> Risk Mitigation and Management</li>

                  <li> Traffic Management</li>

                  <li> Liaise with Government Bodies</li>

                  <li> New Tenant Move-In Management</li>

                  <li> Rent Collection</li>
                </ul>
              </div>
              <p class="Sharjah-Asset-Manage text-justify mt-2 ">CAFM software ensures Helpdesk and Resource Planning
                and Allocation, Service tracker, Asset maintenance,
                Inventory management, Conference room bookings, Guest house bookings, Lease management, Invoice
                tracker,
                Visitor
                management, Material movement management and Staff management.</p>
            </div>

            <div class="Sharjah-Asset-Manage  mt-2 ">
              <a class="WHAT-IS-Aman-1" style="text-decoration: underline;"><b>Industrial Services</b></a>

              <br>
              <a class="WHAT-IS-Aman-2">Our Quality Processes:</a>

              <div style="" class="Sharjah-Asset-Manage mt-2 ml-5">
                <ul>

                  <li> Achieve highest level of quality through process-driven service delivery methods</li>

                  <li> Enhance customer satisfaction by outperforming and with continuous improvement in quality
                    standards
                  </li>

                  <li> Contribute to industry with continuous innovations and improvements on quality and processes in
                    our
                    Quality Management Systems</li>
                </ul>
              </div>


              <br>
              <a class="WHAT-IS-Aman-2">People:</a>

              <p class="Sharjah-Asset-Manage text-justify mt-2 ">Our industry is people oriented and we have a
                professional skills enhancement programmed for the workforce.
                Continuous training and knowledge sharing ensure excellence in work output at all areas</p>
              <a class="WHAT-IS-Aman-2">Processes:</a>

              <p class="Sharjah-Asset-Manage text-justify mt-2 ">Regular scheduled monitoring and quality customized
                services with continuous improvement ensures process
                flow
                resulting in a 'Great Place to Work’ culture across our clients manufacturing facilities.</p>

              <p class="Sharjah-Asset-Manage text-justify mt-2">SANED is aware of the sensitivity and confidential
                nature of all businesses and our services are designed
                to
                support your business, enabling your staff to function at optimum levels. It is essential that
                facilities
                operate smoothly to ensure 'zero' down time.</p>

              <p class="Sharjah-Asset-Manage text-justify mt-2 ">
                From pharmaceutical laboratories and large-scale car manufacturing plants, to District Cooling Plants-
                SANED
                has
                the expertise needed to support your businesses with all non-core support services needs like PPE.
                equipment’s,
                waste & power management systems etc.
              </p>
            </div>


            
          </div>
        </div>

      </div>


      <div class="col-md-5 text-center">
          <img src="./assets/facility_image1.png" srcset="./assets/facility_image1@2x.png 2x,
          ./assets/facility_image1@3x.png 3x"
          class="img-fluid sticky py-4">
      

      </div>

      <br>

    </div>
  </div>
</div>
  <br>
 
  <!--=====footer english start==-->
  <app-loginv2></app-loginv2>
  <!-- ================footer  english end== -->

  <router-outlet></router-outlet>