<!-- <app-nav-bg-ar [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg-ar> -->

<div [class]='bg' style="margin-bottom: -50px; position: relative;">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-4 col-sm-4 p-0 text-left">
        <img class="img-fluid img-size" src="./assets/newChk.png">
      </div>

      <div class="col-md-4 col-sm-4"> </div>

      <div class="col-md-4 col-sm-4 text-right">
        <div class="mt-sm-5 mr-sm-4 mt-md-5 mr-md-5 mt-0 mr-0">

          <font class="mr-2" style="color:#F90E35">English</font>
          <input type="radio" checked>

          <font class="ml-3 mr-1" color="white"> عربى </font>
          <input name="Lang" [(ngModel)]="Lang" type="radio" [value]="true" routerLink={{nav_arabic}}
            [checked]="Lang" />

        </div>
      </div>

    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
      <font class="head"> {{ head }} </font>
    </div>

  </div>

</div>
<app-navbar></app-navbar>
<div class="container-fluid">

  <div class="">
    <br>
    <div class="card" style="border-radius: 18px;background: white;margin-top: -21px;">
      <br>
      <div class="row mx-2">
        <div class="col-md-1">
          <!-- <img src="/assets/1.png" srcset="/assets/1@2x.png 2x,
              /assets/1@3x.png 3x" class="layer"> -->
          <img src="/assets/noun-connection-657013.png" srcset="/assets/noun-connection-657013@2x.png 2x,
              /assets/noun-connection-657013@3x.png 3x" class="layer">
        </div>
        <div class="col-md-5 ">


          <a class="WHAT-IS-Aman-">Description</a>

          <p class="Sharjah-Asset-Manage text-justify mt-2 ml-1">SALAMA is a high-level training center established as a
            collaboration between Sharjah Prevention and Safety Authority (SPSA) and SANED, to serve the various sectors
            in the Emirate of Sharjah, providing specialized training programs in the prevention and safety of workers
            within the private and public sectors.
            <br>
            <br>
            The training center will enable citizens to centrally receive, process, manage and report on <b>“labor
              training on prevention and safety”.</b> </p>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="ml-4"></div>
        <div class="col-md-1">
          <img src="/assets/2.png" srcset="/assets/2@2x.png 2x,
                /assets/2@3x.png 3x" class="layer">

        </div>
        <div class="col-md-4 ">
          <a class="WHAT-IS-Aman-">Objectives</a>


          <p class="Sharjah-Asset-Manage text-justify mt-2 ml-1">
            Enhance the quality of life in the Emirate of Sharjah by educating the labor force on the highest
            internationally recognized standards of protection and safety in the workplace. The mission is a <b>Zero
              Harm Environment.</b>
          </p>

        </div>
      </div>
      <!-- ============================second=============== -->
      <div class="row mx-2">
        <div class="col-md-1">
          <!-- <img src="/assets/1.png" srcset="/assets/1@2x.png 2x,
        /assets/1@3x.png 3x" class="layer"> -->
          <img src="./assets/3.png" srcset="./assets/3@2x.png 2x,
        ./assets/3@3x.png 3x" class="img-responsive">
        </div>
        <div class="col-md-5 ">


          <a class="WHAT-IS-Aman-">Technical Information</a>

          <p class="Sharjah-Asset-Manage text-justify mt-2 ml-1">The user friendly SPSA Mobile App and SALAMA online
            registration
            portal make it easy for the Company Human Resources departments to register their companies, enlist the
            employees they wish to train, and track their company compliance.
            <br>
            <br>
            Our 24x7 call centre is happy to answer any questions: 600 515153

            <br>
            <br>

            <i>Website and Mobile App coming soon.</i> </p>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="ml-4"></div>
        <div class="col-md-1">
          <img src="/assets/4.png" srcset="/assets/4@2x.png 2x,
          /assets/4@3x.png 3x" class="layer">

        </div>
        <div class="col-md-4 ">
          <a class="WHAT-IS-Aman-">Commercial Information</a>


          <p class="Sharjah-Asset-Manage text-justify mt-2 ml-1">
            For a fixed fee, the employee will receive a one-day, in-person training taught by an instructor that is
            accredited by the Government of Sharjah Prevention and Safety Authority (SPSA). They will receive a
            certificate of completion upon passing the exam which will be administered the day of the training.
          </p>

        </div>
      </div>
      <!-- ==================================second============= -->


     


      <div class="my-3 text-center center">

        <a href="http://eservices.spsa.ae/register_en" target="_blank">
          <button type="submit" href="" class="Rectangle-5-Copy" routerLink="/http://eservices.spsa.ae">
            <font color="white">Register
              Here</font>
          </button></a>
      </div>

    </div>

  </div>



</div>
<br>

<!--=====footer english start==-->
<app-loginv2></app-loginv2>
<!-- ================footer  english end== -->

<router-outlet></router-outlet>