.intro-2 {
    background: url("/assets/hero_image.png")no-repeat center center;
    background-size: cover;
    height: 635px;
   }
   .alert {
    position: relative;
    /* padding: .75rem 1.25rem; */
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
   }
   .card{
    
    
    left:50%;
    transform:translate(-50%,-50%);
    
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
  }
  .card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
  }
  .card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
  }
  .card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
  }
  .card .box .img img {
    width:100%;
    height:100%;
  }
  .card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
  }
  .card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
  }
  .card .box p {
    color:#262626;
  }
  .card .box span {
    display:inline-flex;
  }
  .card .box ul {
    margin:0;
    padding:0;
  }
  .card .box ul li {
    list-style:none;
    float:left;
  }
  .card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
  }
  .card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
  }
  .element.style{
   
      margin-top: -13%;
  
  }
  /* =====align start===== */
  .AMAN-is-a-first-of-i {
    width: 496px;
    height: 169px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }
  .Rectangle-5-Copy {
    width: 292px;
    height: 59px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #f34235;
  }
    /* ===========navbar start========= */
 .Contact-Us {
  width: 90px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Suppliers {
  width: 77px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Services {
  width: 70px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .About-Us-Copy {
  width: 75px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Home-Copy {
  width: 49px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


/* ======navbar end===== */
  /* =align end=========== */