<!DOCTYPE html>

<style>
  section.sec1 {
  background: url(natures-temples.png);
  background-size: cover;
}

section.banner {
  background: url(Group.png);
  background-size: cover;
  margin-left: 15px;
}

section.sec2 {
  padding: 100px;
  box-sizing: border-box;
}
  /* ===========================footer style end================ */
</style>



<app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg>
<div class="">


  <div>
    <!------ Include the above in your HEAD tag ---------->





    <div id="id01" class="modal bg-danger" dir="rtl">

      <form class="modal-content animate col-md-4">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="close">&times;</span>

          <!-- <img src="/assets/otp.png" alt="" class="avatar"> -->
          <h4>أدخل كلمة المرور مرة واحدة</h4>
        </div>

        <div class="">
          <p for="uname" style="font-size: 18px;text-align:justify" class="text-center">تم إرسال كلمة السر لمرة واحدة
            إلى عنوان بريدك الإلكتروني ورقم هاتفك المحمول</p>
          <!-- <input type="password" class="w3-input" placeholder="Enter otp" name="uname" required> -->
          <!-- <input type="password" class="col-md-6 " placeholder="" maxlength="4" style="margin-left: 92px;border:white" /> -->
          <input type="text" class="form-control col-md-4 inline" id="otp" required [(ngModel)]="model.otp" name="name"
            #name="ngModel">

          <!-- <button type="submit" style="background-color: #ff0000;width: 94px;padding: 8px 10px;" onclick="document.getElementById('id03').style.display='block'" class="btn Rectangle-5-Copy inline" (click)="sendotp(model)">Send OTP</button>        -->

          <div [hidden]="name.valid || name.pristine" class="alert" style="color: #f54b5e;">
            كلمة المرور مرة واحدة مطلوبة
          </div>
          <!-- <input type="text" class=" partitioned" placeholder="0" maxlength="1" />
        <input type="text" class=" partitioned" placeholder="0" maxlength="1" />
        <input type="text" class=" partitioned" placeholder="0" maxlength="1" /> -->
          <!-- <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required> -->

          <button style="background-color: #ff0000;" (click)="emailotpverification(model)" type="submit">Submit</button>
          <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
        </div>

        <!-- <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
      </form>
    </div>
    <br>


    <div class=" col-md-12">


      <div class="card col-md-12" style="border-radius: 18px;
    background: white;color:#494949;" dir="rtl">
        <br>
        <div class="row" dir="rtl">
          <div class="col-md-1"></div>
          <div class="col-md-12 Who-We-Are-Aman-is-a">
            <!-- <h4><b>Who We Are</b></h4> -->
            <div class="text-right">
              <a class="saned_heading">مرحبا بكم في بوابة الموردين
              </a>
            </div>


            <br>
            <br>
            <div class="ml-4" dir="rtl">



              <div id="submitted">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="row col-md-12" dir="rtl">


                    <div class="form-group col-md-6  text-right" dir="rtl">
                      <label class="saned_para" for="name">رقم الرخصة التجارية الإماراتية <span class="req" style="color: #f54b5e;">*
                        </span></label>

                      <input type="text" (keyup)="tradeLicenceNO()" autocomplete="off" pattern=[\s\S]* maxlength="30" class="form-control col-md-8 text-right" name="uae_trade_license_no"
                        [(ngModel)]="model.trade_license_no"  #trade_license_no="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && trade_license_no.invalid }"
                        required />

                        <!-- <div [hidden]="!model.trade_license_no" style="color:red">
                            <div *ngIf="!trade_license_no.errors.minlength">Only 20 characters are allowed</div>
                        </div> -->

                      <div *ngIf="f.submitted && trade_license_no.invalid" class="saned_para-1">
                        <div *ngIf="trade_license_no.errors.required">يرجى إدخال رقم الترخيص</div>
                      </div>

                    </div>


                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="name">تاريخ صلاحية الرخصة التجارية<span class="req" style="color: #f54b5e;">*
                        </span></label>
                      
                      <input type="text" autocomplete="off" [(bsValue)]="newVar" class="form-control col-md-8" required
                        [(ngModel)]="model.trade_license_vdate" name="trade_license_vdate" #trade_license_vdate="ngModel"
                        bsDatepicker [ngClass]="{ 'is-invalid': f.submitted && trade_license_vdate.invalid }" [minDate]="minDate">

                      <div *ngIf="f.submitted && trade_license_vdate.invalid" class="saned_para-1">
                        <div *ngIf="trade_license_vdate.errors.required">يرجى إدخال اسم الشخص المسؤول</div>
                      </div>

                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="name">اسم الشركة<span class="req" style="color: #f54b5e;">*
                        </span></label>

                      <input type="text" autocomplete="off" maxlength="30" pattern=[\s\S]* class="form-control col-md-8 text-right" name="company_name"
                        [(ngModel)]="model.company_name" #company_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && company_name.invalid }"
                        required />

                        <!-- <div [hidden]="!model.company_name" style="color:red">
                            <div *ngIf="!company_name.errors.minlength">يُسمح بـ 20 حرفًا فقط</div>
                        </div> -->

                      <div *ngIf="f.submitted && company_name.invalid" class="saned_para-1">
                        <div *ngIf="company_name.errors.required">يرجى إدخال اسم الشركة</div>
                      </div>
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="phonenumber">قائمة الخدمات والمنتجات المعتمدة من الإدارة
                        الاقتصادية<span class="req" style="color: #f54b5e;">*
                        </span></label>
                      <textarea type="text" autocomplete="off" maxlength="500" pattern=[\s\S]* class="form-control col-md-8 text-right" style="height: 90px;"
                        id="listofservices" required [(ngModel)]="model.services_list" name="services_list"
                        #services_list="ngModel" [ngClass]="{ 'is-invalid': f.submitted && services_list.invalid }"></textarea>
                     
                        <!-- <div [hidden]="!model.services_list" style="color:red">
                            <div *ngIf="!services_list.errors.minlength">يُسمح بـ 500 حرفًا فقط</div>
                        </div> -->

                        <div *ngIf="f.submitted && services_list.invalid" class="saned_para-1">
                        <div *ngIf="services_list.errors.required">يرجى إدخال قائمة الخدمات</div>
                      </div>

                    </div>


                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="address">العنوان المسجل للمكتب</label>
                      <input type="text" autocomplete="off" maxlength="30" class="form-control col-md-8 text-right" id="reg_office_add"
                        required [(ngModel)]="model.reg_off_add" name="reg_office_add" pattern="[\s\S]*"
                         #reg_off_add="ngModel">
                    
                        <!-- <div [hidden]="!model.reg_off_add" style="color:red">
                            <div *ngIf="!reg_off_add.errors.minlength">يُسمح بـ 20 حرفًا فقط</div>
                        </div> -->
      
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="pobox">اسم شخص الاتصال<span class="req" style="color: #f54b5e;">*
                        </span></label>

                      <input type="text" autocomplete="off" maxlength="30" pattern="[\s\S]*" class="form-control col-md-8 text-right" name="contact_name"
                        [(ngModel)]="model.contact_name" #contact_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contact_name.invalid }"
                        required />

                        <!-- <div [hidden]="!model.contact_name" style="color:red">
                            <div *ngIf="!contact_name.errors.minlength">يُسمح بـ 20 حرفًا فقط</div>
                        </div> -->

                      <div *ngIf="f.submitted && contact_name.invalid" class="saned_para-1">
                        <div *ngIf="contact_name.errors.required">يرجى إدخال اسم الشخص المسؤول</div>
                      </div>
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="mobile">رقم الاتصال</label>

                      <input type="text" autocomplete="off" class="form-control col-md-8 text-right" id="contact_no"
                      pattern="^[6-9]\d{9}$" (keyup)="contactNo_no()"
                        required [(ngModel)]="model.contact_no" name="contact_no" #contact_no="ngModel">

                        <div [hidden]="!model.contact_no" style="color:red">
                            <div *ngIf="!contact_no.valid">الرجاء إدخال اسم صالح</div>
                          </div>
                     
                    </div>

                    <div class="form-group col-md-6 text-right">

                      <label class="saned_para" for="contactpersonposition">جهة الاتصال</label>

                      <input type="text" autocomplete="off" maxlength="30"
                      class="form-control col-md-8 text-right" id="contact_position"
                        required [(ngModel)]="model.contact_desig" name="contact_position" #contact_desig="ngModel"
                        pattern="[\s\S]*">

                        <!-- <div [hidden]="!model.contact_desig" style="color:red">
                            <div *ngIf="!contact_desig.errors.minlength">يُسمح بـ 20 حرفًا فقط</div>
                        </div> -->
                    
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="password">فاكس</label>
                      <input type="text" autocomplete="off" class="form-control col-md-8 text-right" id="fax_no" maxlenght="30"
                        required [(ngModel)]="model.contact_fax" name="contact_fax" #contact_fax="ngModel">


                    </div>
                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">رقم الاتصال (المحمول)<span class="req" style="color: #f54b5e;">*
                        </span></label>

                      <input type="text" autocomplete="off" class="form-control col-md-8 text-right" name="contact_no_mobile"
                        [(ngModel)]="model.contant_mobile" #contant_mobile="ngModel" pattern="^[6-9]\d{9}$"
                         [ngClass]="{ 'is-invalid': f.submitted && contant_mobile.invalid }"
                        required (keyup)="contactNo_mobile()" />

                        <div [hidden]="!model.contant_mobile" style="color:red">
                            <div *ngIf="!contant_mobile.valid">الرجاء إدخال اسم صالح</div>
                          </div>

                      <div *ngIf="f.submitted && contant_mobile.invalid" class="saned_para-1">
                        <div *ngIf="contant_mobile.errors.required">الرجاء إدخال رقم الهاتف النقال</div>
                      </div>
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">عنوان البريد الإلكتروني للشركة</label> 
                      <input type="email" autocomplete="off" class="form-control col-md-8 text-right" id="company_email_id"
                        passvalidator="password" required [(ngModel)]="model.company_email" name="company_email_id"
                        maxlength="30"
                        #company_email="ngModel"  pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >

                        <div [hidden]="company_email.valid || !model.company_email" class="saned_para-1"
                        style="color: #f54b5e;">
                        عنوان البريد الإلكتروني غير صالح
                      </div>

                    

                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">عنوان البريد الإلكتروني لشخص الاتصال<span class="req"
                          style="color: #f54b5e;">*
                        </span></label>

                      <input type="email" autocomplete="off" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control col-md-8 text-right"
                        name="contact_email" [(ngModel)]="model.contact_email" #contact_email="ngModel" maxlength="30"
                         [ngClass]="{ 'is-invalid': f.submitted && contact_email.invalid }"
                        required />


                      <div [hidden]="contact_email.valid || !model.contact_email" class="saned_para-1" style="color: #f54b5e;">
                        عنوان البريد الإلكتروني غير صالح
                      </div>



                      <div *ngIf="f.submitted && contact_email.invalid" class="saned_para-1">
                        <div *ngIf="contact_email.errors.required">الرجاء إدخال البريد الإلكتروني لجهة الاتصال</div>
                      </div>

                    </div>


                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">عنوان موقع ويب</label>
                      <input type="email" autocomplete="off" class="form-control col-md-8" id="website_add" required 
                        [(ngModel)]="model.website_add" maxlength="30" name="website_add" #website_add="ngModel" pattern="[wW]{3}\.[a-z0-9.-]{3,}\.[a-z]{2,}$" >

                      <div [hidden]="!model.website_add" style="color:red">
                        <div *ngIf="!website_add.valid">الرجاء إدخال عنوان ويب صالح </div>
                      </div>
                    </div>

                    <br><br>

                  </div>
                  <div class="container-fluid">

                    <div class="text-center mt-4">

                      <button type="submit" style="background-color: #ff0000;padding: 8px 20px;" onclick="document.getElementById('id01').style.display='none'"
                        class="btn Rectangle-5-Copy" (click)="supplierregister(model)">
                        <font color="white">خضع</font>
                      </button>

                    </div>

                  </div>
                </form>
                <br>
              </div>




            </div>

          </div>

        </div>
      </div>




    </div>
    <br>


    <!-- =============footer arabic start====== -->
    <app-footer></app-footer>

    <!-- ========footer arabic end====== -->
    <!-- ===arabic -->
  </div>

  <!-- ====Arabic -->

  <!-- ========footer arabic end====== -->




  <!-- </div> -->