<!DOCTYPE html>

<style>
 section.sec1 {
  background: url(natures-temples.png);
  background-size: cover;
}

section.banner {
  background: url(Group.png);
  background-size: cover;
  margin-left: 15px;
}

section.sec2 {
  padding: 100px;
  box-sizing: border-box;
}
  /* ===========================footer style end================ */
</style>



<app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic" ></app-nav-bg>
<div class="">


  <div>
    <!------ Include the above in your HEAD tag ---------->
   

   


    <div id="id01" class="modal bg-danger" dir="rtl">

      <form class="modal-content animate col-md-4">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="close">&times;</span>

          <!-- <img src="/assets/otp.png" alt="" class="avatar"> -->
          <h4>أدخل كلمة المرور مرة واحدة</h4>
        </div>

        <div class="">
          <p for="uname" style="font-size: 18px;text-align:justify" class="text-center">تم إرسال كلمة السر لمرة واحدة
            إلى عنوان بريدك الإلكتروني ورقم هاتفك المحمول</p>
          <!-- <input type="password" class="w3-input" placeholder="Enter otp" name="uname" required> -->
          <!-- <input type="password" class="col-md-6 " placeholder="" maxlength="4" style="margin-left: 92px;border:white" /> -->
          <input type="text" class="form-control col-md-4 inline" id="otp" required [(ngModel)]="model.otp" name="name"
            #name="ngModel">

          <!-- <button type="submit" style="background-color: #ff0000;width: 94px;padding: 8px 10px;" onclick="document.getElementById('id03').style.display='block'" class="btn Rectangle-5-Copy inline" (click)="sendotp(model)">Send OTP</button>        -->

          <div [hidden]="name.valid || name.pristine" class="alert" style="color: #f54b5e;">
            كلمة المرور مرة واحدة مطلوبة
          </div>
          <!-- <input type="text" class=" partitioned" placeholder="0" maxlength="1" />
        <input type="text" class=" partitioned" placeholder="0" maxlength="1" />
        <input type="text" class=" partitioned" placeholder="0" maxlength="1" /> -->
          <!-- <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required> -->

          <button style="background-color: #ff0000;" (click)="emailotpverification(model)" type="submit">Submit</button>
          <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
        </div>

        <!-- <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
      </form>
    </div>
    <br>


    <div class=" col-md-12">
      

      <div class="card col-md-12" style="border-radius: 18px;
    background: white;color:#494949;" dir="rtl">
        <br>
        <div class="row" dir="rtl">
          <div class="col-md-1"></div>
          <div class="col-md-12 Who-We-Are-Aman-is-a">
            <!-- <h4><b>Who We Are</b></h4> -->
            <div class="text-right">
              <a class="saned_heading">مرحبا بكم في بوابة الموردين
              </a>
            </div>


            <br>
            <br>
            <div class="ml-4" dir="rtl">



              <div id="submitted">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="row col-md-12" dir="rtl">


                    <div class="form-group col-md-6  text-right" dir="rtl">
                      <label class="saned_para" for="name">رقم الرخصة التجارية الإماراتية <span class="req"
                          style="color: #f54b5e;">*
                        </span></label>

                      <!-- <input type="text" class="form-control col-md-8" id="uae_trade_license_no" 
               required
               [(ngModel)]="model.licensenumber" name="uae_trade_license_no"
               #licensenumber="ngModel">
        <div [hidden]="licensenumber.valid || licensenumber.pristine"
             class="alert" style="color: #f54b5e;">
             License Number is required
        </div> -->
                      <input type="text" class="form-control col-md-8 text-right" name="uae_trade_license_no"
                        [(ngModel)]="model.trade_license_no" #trade_license_no="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && trade_license_no.invalid }" required />

                      <div *ngIf="f.submitted && trade_license_no.invalid" class="saned_para-1">
                        <div *ngIf="trade_license_no.errors.required">يرجى إدخال رقم الترخيص</div>
                      </div>
                      <!-- <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

               <hr/>
               
               <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
               <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
               <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
               
               <hr/> -->
                    </div>


                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="name">تاريخ صلاحية الرخصة التجارية<span class="req"
                          style="color: #f54b5e;">*
                        </span></label>
                      <!-- <input type="text" class="form-control col-md-8" id="licensevalidity"
                        required
                        [(ngModel)]="model.licensevalidity" name="licensevalidity"
                        #licensevalidity="ngModel"> -->
                      <!-- // value="{{ dateNow | date:'yyyy/MM/dd' }}" -->
                      <input type="text" autocomplete="off" [(bsValue)]="newVar" class="form-control col-md-8"
                        [(ngModel)]="model.trade_license_vdate" name="trade_license_vdate"
                        #trade_license_vdate="ngModel" bsDatepicker
                        [ngClass]="{ 'is-invalid': f.submitted && trade_license_vdate.invalid }" [minDate]="minDate">

                      <div *ngIf="f.submitted && trade_license_vdate.invalid" class="saned_para-1">
                        <div *ngIf="trade_license_vdate.errors.required">يرجى إدخال اسم الشخص المسؤول</div>
                      </div>


                      <!-- <ng-datepicker [(ngModel)]="date" /> -->
                      <!-- <div [hidden]="name.valid || name.pristine"
                      class="alert alert-danger">
                   Name is required
                 </div> -->
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="name">اسم الشركة<span class="req" style="color: #f54b5e;">*
                        </span></label>
                      <!-- <input type="text" class="form-control col-md-8" id="company_name"
                          required
                          [(ngModel)]="model.companyname" name="company_name"
                          #companyname="ngModel"> -->
                      <!-- <div [hidden]="name.valid || name.pristine"
                        class="alert alert-danger">
                     Name is required
                   </div> -->
                      <input type="text" class="form-control col-md-8 text-right" name="company_name"
                        [(ngModel)]="model.company_name" #company_name="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && company_name.invalid }" required />

                      <div *ngIf="f.submitted && company_name.invalid" class="saned_para-1">
                        <div *ngIf="company_name.errors.required">يرجى إدخال اسم الشركة</div>
                      </div>
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="phonenumber">قائمة الخدمات والمنتجات المعتمدة من الإدارة
                        الاقتصادية<span class="req" style="color: #f54b5e;">*
                        </span></label>
                      <textarea type="text" class="form-control col-md-8 text-right" style="height: 90px;"
                        id="listofservices" required [(ngModel)]="model.services_list" name="services_list"
                        #services_list="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && services_list.invalid }"></textarea>
                      <div *ngIf="f.submitted && services_list.invalid" class="saned_para-1">
                        <div *ngIf="services_list.errors.required">يرجى إدخال قائمة الخدمات</div>
                      </div>
                    </div>


                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="address">العنوان المسجل للمكتب</label>
                      <input type="text" class="form-control col-md-8 text-right" id="reg_office_add" required
                        [(ngModel)]="model.reg_off_add" name="reg_office_add" #reg_off_add="ngModel">
                      <!-- <div [hidden]="name.valid || name.pristine"
                            class="alert alert-danger">
                         Name is required
                       </div> -->
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="pobox">اسم شخص الاتصال<span class="req" style="color: #f54b5e;">*
                        </span></label>
                      <!-- <input type="text" class="form-control col-md-8" id="contact_name"
                                required
                                [(ngModel)]="model.contactpersonnumber" name="contact_name"
                                #contactpersonnumber="ngModel">
                         <div [hidden]="contactpersonnumber.valid || contactpersonnumber.pristine"
                              class="alert" style="color: #f54b5e;">
                           Name is required
                         </div> -->
                      <input type="text" class="form-control col-md-8 text-right" name="contact_name"
                        [(ngModel)]="model.contact_name" #contact_name="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && contact_name.invalid }" required />

                      <div *ngIf="f.submitted && contact_name.invalid" class="saned_para-1">
                        <div *ngIf="contact_name.errors.required">يرجى إدخال اسم الشخص المسؤول</div>
                      </div>
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="mobile">رقم الاتصال</label>
                      <input type="number" class="form-control col-md-8 text-right" id="contact_no" required
                        [(ngModel)]="model.contact_no" name="contact_no" #contact_no="ngModel">
                      <!-- <div [hidden]="mobile.valid || mobile.pristine"
                                class="alert" style="color: #f54b5e;">
                             Mobile number is required
                           </div> -->
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="contactpersonposition">جهة الاتصال</label>
                      <input type="text" class="form-control col-md-8 text-right" id="contact_position" required
                        [(ngModel)]="model.contact_desig" name="contact_position" #contact_desig="ngModel"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                      <!-- <div [hidden]="email.valid || email.pristine"
                                  class="alert" style="color: #f54b5e;">
                       Invalid Email Address
                             </div> -->
                    </div>
                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="password">فاكس</label>
                      <input type="text" class="form-control col-md-8 text-right" id="fax_no" required
                        [(ngModel)]="model.contact_fax" name="contact_fax" #contact_fax="ngModel">

                      <!-- <div [hidden]="fax.valid || password.pristine"
                                  class="alert" style="color: #f54b5e;">
                               Password Should contain atleast one Uppercase,one number Min 8 characters
                             </div>
                             <span id="strength_message"></span> -->
                    </div>
                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">رقم الاتصال (المحمول)<span class="req"
                          style="color: #f54b5e;">*
                        </span></label>
                      <!-- <input type="text" class="form-control col-md-8" id="contact_no_mobile" passvalidator="password"
                                      required
                                      [(ngModel)]="model.contactmobilenumber" name="contact_no_mobile" 
                                      #contactmobilenumber="ngModel">
                             <div [hidden]="contactmobilenumber.valid || contactmobilenumber.pristine"
                                  class="alert" style="color: #f54b5e;">
                               Contact no. is required
                             </div> -->
                      <input type="number" class="form-control col-md-8 text-right" name="contact_no_mobile"
                        [(ngModel)]="model.contant_mobile" #contant_mobile="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && contant_mobile.invalid }" required />

                      <div *ngIf="f.submitted && contant_mobile.invalid" class="saned_para-1">
                        <div *ngIf="contant_mobile.errors.required">الرجاء إدخال رقم الهاتف النقال</div>
                      </div>
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">عنوان البريد الإلكتروني للشركة</label>
                      <input type="email" class="form-control col-md-8 text-right" id="company_email_id"
                        passvalidator="password" required [(ngModel)]="model.company_email" name="company_email_id"
                        #company_email="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">

                      <!-- <div [hidden]="company_email.touched && companyemail.errors?.notequal"class="alert" style="color: #f54b5e;"> -->


                      <!-- </div> -->
                    </div>

                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">عنوان البريد الإلكتروني لشخص الاتصال<span
                          class="req" style="color: #f54b5e;">*
                        </span></label>
                      <!-- <input type="email" class="form-control col-md-8" id="contact_email" passvalidator="password"
                                      required
                                      [(ngModel)]="model.emailcontactperson" name="contact_email" 
                                      #emailcontactperson="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                               <div [hidden]="emailcontactperson.valid || emailcontactperson.pristine"
                                    class="alert" style="color: #f54b5e;">
                              
                                     </div> -->
                      <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        class="form-control col-md-8 text-right" name="contact_email" [(ngModel)]="model.contact_email"
                        #contact_email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contact_email.invalid }"
                        required />


                      <div [hidden]="contact_email.valid || !model.contact_email" class="saned_para-1"
                        style="color: #f54b5e;">
                        عنوان البريد الإلكتروني غير صالح
                      </div>



                      <div *ngIf="f.submitted && contact_email.invalid" class="saned_para-1">
                        <div *ngIf="contact_email.errors.required">الرجاء إدخال البريد الإلكتروني لجهة الاتصال</div>
                      </div>
                      <!-- <div [hidden]="emailcontactperson.touched && emailcontactperson.errors?.notequal"class="alert" style="color: #f54b5e;"> -->

                      <!-- s -->
                      <!-- </div> -->
                    </div>


                    <div class="form-group col-md-6 text-right">
                      <label class="saned_para" for="confirmpassword">عنوان موقع ويب</label>
                      <input type="email" class="form-control col-md-8" id="website_add" required
                        [(ngModel)]="model.website_add" name="website_add" #website_add="ngModel"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">

                    </div>

                    <br><br>



                  </div>
                  <div class="container-fluid">
                  
                     <div class="text-center mt-4">

                      <button type="submit" style="background-color: #ff0000;padding: 8px 20px;"
                          onclick="document.getElementById('id01').style.display='none'" class="btn Rectangle-5-Copy"
                          (click)="supplierregister(model)">
                          <font color="white">خضع</font>
                        </button>
                     
                      </div>                    
                   
                  </div>
                </form>
                <br>
              </div>




            </div>

          </div>

        </div>
      </div>




    </div>
    <br>
    

    <!-- =============footer arabic start====== -->
    <app-footer></app-footer>

    <!-- ========footer arabic end====== -->
    <!-- ===arabic -->
  </div>

  <!-- ====Arabic -->

  <!-- ========footer arabic end====== -->




  <!-- </div> -->