<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  section.sec1 {
  background: url(natures-temples.png);
  background-size: cover;
}

section.banner {
  background: url(Group.png);
  background-size: cover;
  margin-left: 15px;
}

section.sec2 {
  padding: 100px;
  box-sizing: border-box;
}
</style>



<app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic" ></app-nav-bg>

<div class="container-fluid">
 <br>
<div class="card" style="border-radius: 18px;" dir="rtl">

  <br>
  
    <div dir="rtl" class="mr-5">
      <ul class="Sharjah-Asset-Manage">
        <li style="cursor:pointer;" class="text-right" routerLink="/login-arbic">الصفحة
          الرئيسية</li><br>
        <li style="cursor:pointer" class="text-right" routerLink="/aboutus-arabic">معلومات
          عنا</li><br>
        <li style="cursor:pointer" class="text-right" routerLink="/supplier-register-arabic">المورد</li><br>
        <li style="cursor:pointer" class="text-right" routerLink="/contactus-arabic">اتصل
          بنا</li><br>
        <li class="text-right">خدمات</li><br>
       
        <ul class="Sharjah-Asset-Manage">
          <li style="cursor:pointer" class="text-right  mr-5" routerLink="/amanservices-arabic">رجل</li><br>
          <li style="cursor:pointer" class="text-right  mr-5" routerLink="/salamaservices-arabic">سلامة</li><br>
          <li style="cursor:pointer" class="text-right  mr-5" routerLink="/facilityarabic">إدارة المرافق المتكاملة</li>
        </ul>
      </ul> 
    </div>
    
    <br>
  
  </div>
</div>
<br>

<!-- =============footer arabic start====== -->
<app-footer></app-footer>

<!-- ========footer arabic end====== -->

<router-outlet></router-outlet>