<style>
  section.sec1 {
  background: url(natures-temples.png);
  background-size: cover;
}

section.banner {
  background: url(Group.png);
  background-size: cover;
  margin-left: 15px;
}

section.sec2 {
  padding: 100px;
  box-sizing: border-box;
}

  /* ===========================footer style end================ */
</style>



<app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic" ></app-nav-bg>
<!-- =======arabic -->
<div>
  
  <div class="container">
    <br>
   
    <div class="container">

      <div class="row" dir="rtl">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-5 text-justify">
          <br><br>
          <a class="saned_heading">عنوان الشركة:</a>

          <p class="saned_para">
            برج 400 ،18 الطابق ،<br>
            طريق الميناء ، الشارقة ،<br>
            ص.ب 4648 الشارقة - الإمارات العربية المتحدة
            <br>
            <font color="" dir="rtl"> رقم الهاتف: 6555 506 6 971+ </font>
            <br>
            <font color="" dir="rtl"> الفاكس: 2331 572 6 971+ </font>
            <br>
            البريد الإلكتروني: helpdesk@saned.ae<br>
            <a routerLink="login-arbic">www.saned.ae</a>
          </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <br>
          <a target="_blank"
            href="http://maps.google.com/?q=Tower 400,18th Floor,Mina Road Sharjah,PO Box 4648 Sharjah - UAE ">
            <img src="./assets/SHARJAHmap.png" class="img-thumbnail">
          </a>
        </div>
      </div>
      <br><br>
    </div>

  </div>
  <!-- =============footer arabic start====== -->
  <app-footer></app-footer>

  <!-- ========footer arabic end====== -->
</div>