@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 

.intro-2{
  background: url(/assets/hero_image1.png)no-repeat center center;
  background-size: cover;
  /* height: 635px; */
}




/* ============Navbar start======= */
 .homeservice{
    width: 174px;
    height: 52px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .about-us1{
    
      width: 143px;
      height: 52px;
      font-family: GeezaPro;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    
  }
  .services{
    width: 70px;
    height: 49px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .supplier{
    width: 100px;
    height: 25px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .contactus{
  width: 102px;
  height: 76px;
  font-family: GeezaPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.Rectangle-2 {
  width: 123px;
  height: 41px;
  border-radius: 5px;
  background-color: #ff0000;
}

/* ========== navabar end=========== */
/* ===Mobile navbar start=========== */


@media screen and (min-width: 320px) and (max-width: 767px){
  .nav-bg {
    background-color: rgba(0, 0, 0, 0.65) !important;
  }



  
  .pt-120{
    position: relative !important;
    left: 256px !important;

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 4rem!important;
}

.pad_12{
  padding: 0 12px;
}

}

@media screen and (max-width: 768px){
  .nav-bg {
    /* background-color: rgba(0, 0, 0, 0.65) !important; */
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: .0rem !important;
    padding-left: .0rem !important;
}

  .pt-120{
    position: relative !important;
    left: 232px 

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 5rem!important;
}




li[_ngcontent-c1] {
  float: left;
  padding: 0 12px !important;
}


}

@media screen and (max-width: 1024px){
  .nav-bg {
    /* background-color: rgba(0, 0, 0, 0.65) !important; */
  }



  .pt-120{
    position: relative !important;
    left: 249px 

  }
  .mt-414{
    margin-top: 3px !important;
  }

  .mr-5, .mx-5 {
    margin-right: 5rem!important;
}




li[_ngcontent-c1] {
  float: left;
  padding: 0 12px !important;
}


}

/* =========Mobile navbar End========== */
/* ===========HEADING STYLE=========== */
.saned_para{
  font-size:16px;
  color: #333; 
  font-family: GeezaPro;
}
.saned_heading{
  font-size: 28px;
  font-family: GeezaPro;

}

/* ==============HEADING STYLE========== */