@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.intro-2 {
    background: url("/assets/hero_image1.png")no-repeat center center;
    background-size: cover;
    height: 635px;
 }
 .alert {
    position: relative;
    /* padding: .75rem 1.25rem; */
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .card{
    
    
    left:50%;
    transform:translate(-50%,-50%);
   
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-radius:10px;
    transition:0.5s;
}
.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.card .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.card .box .img img {
    width:100%;
    height:100%;
}
.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}
/* ======align start======== */
 /* ============Navbar start======= */
 .homeservice{
    width: 174px;
    height: 52px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .about-us1{
    
      width: 143px;
      height: 52px;
      font-family: GeezaPro;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    
  }
  .services{
    width: 70px;
    height: 49px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .supplier{
    width: 100px;
    height: 25px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .contactus{
  width: 102px;
  height: 76px;
  font-family: GeezaPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.Rectangle-2 {
  width: 123px;
  height: 41px;
  border-radius: 5px;
  background-color: #ff0000;
}

/* ========== navabar end=========== */
/* ===body content start=== */
.des{
    width: 74px;
    height: 80px;
    font-family: GeezaPro;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--black);
  }
  .objective{
    width: 57px;
    height: 80px;
    font-family: GeezaPro;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: var(--black);
  }
  .technical{
    width: 157px;
    height: 80px;
    font-family: GeezaPro;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: var(--black);
  }
  .commercial{
    width: 141px;
    height: 80px;
    font-family: GeezaPro;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: right;
    color: var(--black);
  }
  .Rectangle-5-Copy {
    width: 292px;
    height: 59px;
    border-radius: 8px;
    background-color: #f34235;
    margin-left: 362px;
  }
.AMAN- {
    width: 496px;
    height: 169px;
    font-family: GeezaPro;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--black);
  }
  .title{
    width: 90px;
    height: 145px;
    font-family: GeezaPro;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
/* ===body content end=== */
/* =footer start== */
.footer1{
    width: 90px;
    height: 190px;
    font-family: GeezaPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #ffffff;
  }
  .navfooter{
    width: 63px;
    height: 9px;
    font-family: GeezaPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    margin-right: 27px;
    line-height: 1.67;
    letter-spacing: normal;
    color: #ffffff;
    
  }
  .footer2{
    width: 281px;
    height: 164px;
    font-family: GeezaPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: normal;
    color: #ffffff;
  }
  .subscribe{
    width: 144px;
    height: 29px;
    font-family: GeezaPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .lastfoot{
    width: 1209px;
    height: 30px;
    font-family: GeezaPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  
  
  /* =foter end== */

/* ==========align end=========== */