<!-- <app-nav-bg [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg> -->

<div [class]='bg' style="margin-bottom: -50px; position: relative;">
    <div class="container-fluid">

        <div dir="rtl" class="row">
            <div class="col-md-4 col-sm-4 p-0 text-right">
                <img class="img-fluid" src="./assets/logo_ar.png">
            </div>

            <div class="col-md-4 col-sm-4"> </div>

            <div class="col-md-4 col-sm-4">
                <div class="mt-sm-5 ml-sm-5 mt-md-5 ml-md-5 mt-0 ml-0">

                    <input type="radio" checked>
                    <font class="ml-3 mr-1" color="#F90E35"> عربى </font>

                    <input name="Lang" style="color:#ff0000;" [(ngModel)]="Lang" type="radio" [value]="true"
                        routerLink={{nav_arabic}} [checked]="Lang" />
                    <font class="mr-1" style="color:white">English</font>

                </div>
            </div>

        </div>

        <div class="text-center">
            <font class="head"> {{ head }} </font>
        </div>
    </div>

</div>

<app-navbararabic></app-navbararabic>
<div>
    <div class="container-fluid" dir="rtl">
        <div class="card my-4">
            <div class="row my-4 mx-2">

                <div class="col-md-1 text-left ">
                    <img src="/assets/noun-connection-657013.png" srcset="/assets/noun-connection-657013@2x.png 2x,
                        /assets/noun-connection-657013@3x.png 3x" class="img-fluid mx-3 mx-sm-0 mx-md-0">
                </div>
                <div class="col-md-5 text-justify ">
                    <div class="setWidth">
                        <h2 class="head">نبذة عن أمان</h2>

                        <p class="para">لضمان الاستجابة السريعة لحالات الطوارئ الناجمة عن الحرائق ، أطلقت هيئة الوقاية
                            والسلامى بالشراكة مع شركة ساند مشروع "أمان". ويهدف أمان لحماية الأرواح والممتلكات من خلال
                            إنشاء اتصال آمن وموثوق بين جميع أنظمة مكافحة الحرائق في جميع الأصول في الشارقة مع محطة
                            المراقبة المركزية التي يتم مراقبتها باستمرار لتحديد حالات الطوارئ والاستجابة لها على الفور
                            عن طريق الدفاع المدني.</p>
                    </div>
                </div>



                <div class="col-md-1 text-left pr-4">
                    <img src="/assets/2.png" srcset="/assets/2@2x.png 2x,
                        /assets/2@3x.png 3x" class="img-fluid mx-3 mx-sm-0 mx-md-0">
                </div>
                <div class="col-md-5 text-justify">
                    <div class="setWidth">
                        <h2 class="head">الأهداف المرجوة من أمان</h2>
                        <p class="para">من أهم الأهداف المرجوه من أمان تعزيز جودة الحياة في إمارة الشارقة من خلال تطبيق
                            أعلى
                            المعايير
                            المعترف بها دوليًا لضمان حماية وسلامة الأفراد والممتلكات وتقليل فترة الإستجابة للحرائق
                            والتقليل
                            من
                            الإعتماد على العامل البشري.</p>
                    </div>
                </div>




                <div class="col-md-1 text-left pr-4">
                    <img src="./assets/3.png" srcset="./assets/3@2x.png 2x,
                        ./assets/3@3x.png 3x" class="img-fluid mx-3 mx-sm-0 mx-md-0">
                </div>
                <div class="col-md-5 text-justify">
                    <div class="setWidth">
                        <h2 class="head">المعلومات التقنية عن أمان</h2>
                        <p class="para">أمان هو نظام الاتصالات يعمل على مدار الساعة بلا توقف وهو قادر على الآتي:</p>

                        <ul class="para">
                            <li>الربط مع جميع أنظمة الحرائق المتوافرة في المنشآت.</li>
                            <li>يمكن تثبيته في العديد من الأنظمة في مختلف تطبيقات المنشأت.</li>
                            <li>يمكن استخدامها بسهولة وصيانتها في ظروف مختلفة.</li>
                            <li>يمكن دمجها مع غرف التحكم المركزية لمحطة المراقبة من خلال النظام الموحد للاتصالات
                                المتنقلة والشبكة الهاتفية العمومية.</li>
                            <li>التوسع المستقبلي لتشمل تطبيقا المصاعد وغيرها.</li>

                        </ul>

                        <p class="para">يسهّل تطبيق أمان الإلكتروني التابع لهيئة الوقاية والسلامة على ملاك ومدراء
                            المباني التسجيل في
                            النظام وطلب الحصول على الخدمات </p>

                        <p class="para">يمكن التواصل مع الجهات المعنية عن طريق الاتصال التابع لنا على مدار اليوم طوال
                            أيام الأسبوع
                            والإجابة عن أي استفسارات على الرقم التالي: 600515152</p>

                        <p>الموقع الإلكتروني و تطبيق الجوال قيد التنفيذ وسيتم إنجازها قريبا.</p>
                    </div>
                </div>




                <div class="col-md-1 text-left pr-4">
                    <img src="/assets/4.png" srcset="/assets/4@2x.png 2x, /assets/4@3x.png 3x"
                        class="img-fluid mx-3 mx-sm-0 mx-md-0">
                </div>
                <div class="col-md-5 text-justify">
                    <div class="setWidth">
                        <h2 class="head">الرسوم</h2>
                        <p class="para">تشمل الرسوم الثابتة لملاك المباني ما يلي: </p>

                        <ul class="para">
                            <li>قييمان للمباني مع تقارير مخصصة يقدمها فنيو أمان.</li>
                            <li>جهاز الاتصال مع صندوق يركب على الحائط للحماية.</li>
                            <li>تركيب جهاز الاتصال.</li>
                            <li>بطاقة SIM ورسوم خدمة لمدة سنة واحدة من تاريخ التركيب.</li>
                            <li>إغلاق التقرير بعد التثبيت الناجح.</li>
                            <li>عامين من الصيانة على الجهاز.</li>
                            <li>تسجيل مجاني ودخول غير محدود إلى التطبيق والبرامج المتعلقة بالنظام.</li>
                        </ul>
                    </div>
                </div>



            </div>

            <div class="my-3 text-center">
                <a href="http://eservices.spsa.ae/register_ar" target="_blank">
                    <button type="submit" class="Rectangle-5-Copy" routerLink="register-form-arabic">سجل هنا</button>
                </a>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>
<router-outlet></router-outlet>