.setWidth{
  width: 80%;
}

  .setButton {
    width: 292px;
    height: 59px;
    border-radius: 8px;
    background-color: #f34235;
    }
    .bg_img {
      background: url("/assets/building.png")no-repeat center center;
        background-size: cover;
        width:100%;
        height: 100vh;
      }
      .head1{
        font-family: Roboto;
        font-size: 45px;
        font-weight: 400;
        line-height: 1.18;
        color: #ffffff;
      } 
    
      .bg_img1 {
        background: url("/assets/newbg.png")no-repeat center center;
        background-size: cover;
        width:100%;
        height: 100vh;
      }
      
      .head{
        font-family: Roboto;
      font-size: 45px;
      color: #333;
      line-height: normal;
      }
      
    .para{
      font-size:16px;
      color: #333; 
      font-family: GeezaPro;
    }
    .head{
      font-size: 29px;
      font-family: GeezaPro;
    
    }
    .Rectangle-5-Copy {
      width: 290px !important;
      height: 59px !important;
      border-radius: 8px !important;
      background-color: #f34235 !important;
      color: #fbfbfb !important;
    }
@media screen and (min-width: 320px) and (max-width: 767px){
  .setWidth{
    width: 100%;
  }

  .setButton {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: #f34235;
    }
}