.setWidth{
  width: 80%;
}

  .setButton {
    width: 292px;
    height: 59px;
    border-radius: 8px;
    background-color: #f34235;
    }


    .para{
      font-size:16px;
      color: #333; 
      font-family: GeezaPro;
    }
    .head{
      font-size: 29px;
      font-family: GeezaPro;
    
    }
    .Rectangle-5-Copy {
      width: 290px !important;
      height: 59px !important;
      border-radius: 8px !important;
      background-color: #f34235 !important;
      color: #fbfbfb !important;
    }
@media screen and (min-width: 320px) and (max-width: 767px){
  .setWidth{
    width: 100%;
  }

  .setButton {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: #f34235;
    }
}