.intro-2 {
    background: url("/assets/hero_image.png")no-repeat center center;
    background-size: cover;
    height: 635px;
 }
 
 .aboutus {
    background: url("/assets/group-4.png")no-repeat center center;
    /* background-size: cover; */
    height: 330px;
    border-radius: 18px;
    
 }


 .spacer {
  height: 100px;
}
 .Who-We-Are-Aman-is-a {
    width: 733px;
    height: 459px;
    font-family: Roboto;
    font-size: 18px;
    text-align: justify;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }
  
  .Who-We-Are-Aman-is-a .text-style-1 {
    font-size: 24px;
  }
  .An-overview-of-da {
    width: 1188px;
    height: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }
   /* ===========navbar start========= */
.Rectangle-2 {
  width: 123px;
  height: 41px;
  border-radius: 5px;
  background-color: #ff0000;
}
 .Contact-Us {
  width: 90px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Suppliers {
  width: 77px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Services {
  width: 70px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .About-Us-Copy {
  width: 75px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Home-Copy {
  width: 49px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


/* ======navbar end===== */