
<!DOCTYPE html>
<html>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
<!-- <link rel="stylesheet" href="sweetalert2/dist/sweetalert2.min.css"> -->

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
.partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>


<!------ Include the above in your HEAD tag ---------->
<section class="view intro-2 hm-gradient" style="background: url(/assets/lawyer-today-1.png);height: 635px;" >
    <!-- <img href="#" data-toggle="modal" data-target="#myModal" src="assests/lawyer-today-1.png" srcset="assests/lawyer-today-1@2x.png 2x,
    assests/lawyer-today-1@3x.png 3x"
class="NEM mt-3"> -->
<div class="">
    <div class="col-md-1">
        <!-- <img src="./assets/logv2-2.png" class="img-responsive"> -->
        <img  src="./assets/group.png"
                                         srcset="./assets/group@2x.png 2x,
                                                 ./assets/group@3x.png 3x"
                                         class="img-responsive">
    </div>
</div>
    <!-- <div class="full-bg-img"> -->
        <!-- <div class="container flex-center"> -->
            <!-- <div class="row flex-center pt-5 mt-3"> -->
                <!-- <div class="col-md-6 text-center"> -->
                  <br><br><br><br><br><br>
                    <div class="text-center">
                        <h1 ><font color="white">REGISTER NEW ACCOUNT</font></h1>
                           
                    </div>
                <!-- </div> -->

                
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</section>
<br>
<div id="id03" class="modal" style="display: none;">
  
    <form class="modal-content animate col-md-4" action="/action_page.php">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id03').style.display='none'" class="close" title="close">&times;</span>
        <!-- <img src="/assets/otp.png" alt="" class="avatar"> -->
        <h3>OTP Sent</h3>
      </div>
  
      <div class="container">
        <p for="uname" style="font-size: 18px;text-align:justify" class="text-center">Otp has been sent to your email</p>
        <!-- <input type="password" class="w3-input" placeholder="Enter otp" name="uname" required> -->
  
        <!-- <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required> -->
          
        <!-- <button style="background-color: #ff0000;" (click)="backhome" type="submit">Back to home</button> -->
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
      </div>
  
      <!-- <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
    </form>
  </div>

<!-- 
<span id="id02"  style="display: none;"> -->
<div id="id01" class="modal">
  
    <form class="modal-content animate col-md-4" action="/action_page.php">
     
      
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.delay='200000'" class="close" style="delay:none;" title="close">&times;</span>
        <!-- <img src="/assets/otp.png" alt="" class="avatar"> -->
        <h3>ENTER OTP</h3>
      </div>
  
      <div class="container" >
        <p for="uname" style="font-size: 18px;text-align:justify" class="text-center">OTP has been sent to your email address and mobile number</p>
        <!-- <input type="password" class="w3-input" placeholder="Enter otp" name="uname" required> -->
        <!-- <input type="password" class="col-md-6 " placeholder="" maxlength="4" style="margin-left: 92px;border:white" /> -->
        <input type="text" class="form-control col-md-4 inline" id="otp"
                                   required
                                   [(ngModel)]="model.otp" name="name"
                                   #name="ngModel">     
                                   
                                   <!-- <button type="submit" style="background-color: #ff0000;width: 94px;padding: 8px 10px;" onclick="document.getElementById('id03').style.display='block'" class="btn Rectangle-5-Copy inline" (click)="sendotp(model)">Send OTP</button>        -->

                            <div [hidden]="name.valid || name.pristine"
                                 class="alert" style="color: #f54b5e;">
                              otp is required
                            </div>
        <!-- <input type="text" class=" partitioned" placeholder="0" maxlength="1" />
        <input type="text" class=" partitioned" placeholder="0" maxlength="1" />
        <input type="text" class=" partitioned" placeholder="0" maxlength="1" /> -->
        <!-- <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required> -->
          
        <button style="background-color: #ff0000;" (click)="emailotpverification(model)" type="submit">Submit</button>
        <!-- <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
      </div>
   
      <!-- <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div> -->
    </form>
  </div>
<!-- </span> -->
  
<div class="container col-md-12">
    <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>“Caring for the nation by helping protect lives and property from fire and life safety events is our primary goal.“</b></h3> -->
   
   <div class="card col-md-12" style="border-radius: 18px;
   background: white;margin-top: -201px;">
   <br>
    <div class="row">
        <div class="col-md-12 Who-We-Are-Aman-is-a">
    <!-- <h4><b>Who We Are</b></h4> -->
    <h3 class="col-sm-12 Welcome-to-Aman-port"><b>Welcome to Aman portal, please enter your information to be able to use the portal and add your property details</b></h3>
    <div class="col-md-10">

        <div [hidden]="submitted">
          <form name="form"    novalidate>
          
            <div class="form-group">
              <label class="Name" for="name">Name<span class="req" style="color: #f54b5e;">* </span></label>
              <input type="text" class="form-control col-md-4" id="name" 
                     required
                     [(ngModel)]="model.name" name="name"
                     #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
                   class="alert" style="color: #f54b5e;">
                Name is required
              </div>
            </div>
      
            <div class="form-group">
                <label class="Name" for="name">Company</label>
                <input type="text" class="form-control col-md-4" id="company"
                       required
                       [(ngModel)]="model.company" name="company"
                       #name="ngModel">
                <!-- <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                  Name is required
                </div> -->
              </div>
            
              <div class="form-group">
                  <label class="Name" for="name">Nationality</label>
                  <input type="text" class="form-control col-md-4" id="nationality"
                         required
                         [(ngModel)]="model.nationality" name="nationality"
                         #name="ngModel">
                  <!-- <div [hidden]="name.valid || name.pristine"
                       class="alert alert-danger">
                    Name is required
                  </div> -->
                </div>
    
                <div class="form-group">
                    <label class="Name" for="phonenumber">Phone Number</label>
                    <input type="text" class="form-control col-md-4" id="phonenumber"
                           required
                           [(ngModel)]="model.phonenumber" name="phonenumber"
                           #name="ngModel">
                    <!-- <div [hidden]="name.valid || name.pristine"
                         class="alert alert-danger">
                      Name is required
                    </div> -->
                  </div>
    
                  <div class="form-group">
                      <label class="Name" for="address">Address</label>
                      <input type="text" class="form-control col-md-4" id="address"
                             required
                             [(ngModel)]="model.address" name="name"
                             #name="ngModel">
                      <!-- <div [hidden]="name.valid || name.pristine"
                           class="alert alert-danger">
                        Name is required
                      </div> -->
                    </div>
    
                    <div class="form-group">
                        <label class="Name" for="pobox">PO Box</label>
                        <input type="text" class="form-control col-md-4" id="pobox"
                               required
                               [(ngModel)]="model.pobox" name="pobox"
                               #name="ngModel">
                        <!-- <div [hidden]="name.valid || name.pristine"
                             class="alert alert-danger">
                          Name is required
                        </div> -->
                      </div>
    
                      <div class="form-group">
                          <label class="Name" for="mobile">Mobile<span class="req" style="color: #f54b5e;">* </span></label>
                          <input type="text" class="form-control col-md-4" id="mobile"
                                 required
                                 [(ngModel)]="model.mobile" name="mobile"
                                 #mobile="ngModel">
                          <div [hidden]="mobile.valid || mobile.pristine"
                               class="alert" style="color: #f54b5e;">
                            Mobile number is required
                          </div>
                        </div>
    
                        <div class="form-group">
                            <label class="Name" for="email">Email<span class="req" style="color: #f54b5e;">* </span></label>
                         
                            <input type="text" class="form-control col-md-4 inline" id="email"
                                   required
                                   [(ngModel)]="model.email" name="name"
                                   #name="ngModel">     
                                   
                                   <!-- <button type="submit" style="background-color: #ff0000;width: 94px;padding: 8px 10px;" onclick="document.getElementById('id03').style.display='block'" class="btn Rectangle-5-Copy inline" (click)="sendotp(model)">Send OTP</button>        -->

                            <div [hidden]="name.valid || name.pristine"
                                 class="alert" style="color: #f54b5e;">
                              Email is required
                            </div>
                          </div>
                          <!-- <div class="form-group">
                              <label class="Name" for="otp">Enter OTP<span class="req" style="color: #f54b5e;">* </span></label>
                              <input type="text" class="form-control col-md-4" id="otp"
                                     required
                                     [(ngModel)]="model.otp" name="otp"
                                     #otp="ngModel">            
                              <div [hidden]="otp.valid || otp.pristine"
                                   class="alert" style="color: #f54b5e;">
                                Otp is required
                              </div>
                            </div> -->


                          <div class="form-group">
                            <label class="Name" for="password">Password<span class="req" style="color: #f54b5e;">* </span></label>
                            <input type="password" class="form-control col-md-4" id="password"
                                   required
                                   [(ngModel)]="model.password" name="password"
                                   #password="ngModel">
                            <div [hidden]="password.valid || password.pristine"
                                 class="alert" style="color: #f54b5e;">
                              Password is required
                            </div>
                          </div>

                          <div class="form-group">
                              <label class="Name" for="confirmpassword">Confirm Password<span class="req" style="color: #f54b5e;">* </span></label>
                              <input type="password" class="form-control col-md-4" id="confirmpassword"
                                     required
                                     [(ngModel)]="model.confirmpassword" name="confirmpassword"
                                     #confirmpassword="ngModel">
                              <div [hidden]="confirmpassword.valid || confirmpassword.pristine"
                                   class="alert" style="color: #f54b5e;">
                                Confirm your password
                              </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="Name">Stay Connected</label>
                                <!-- <input type="radio" id="myRadio" name="test" required>
                                -->
                                <div >
                                <input type="radio" id="myRadio" value="yes"
                                        [(ngModel)]="model.stayconnect" name="stayconnect"
                                       >Join Our Newsletter
</div>
                                       <!-- <div [hidden]="stayconnect.valid || stayconnect.pristine"
                                     class="alert" style="color: #f54b5e;">
                                  Confirm your password
                                </div> -->
                              </div>
  
                              <div class="form-group col-md-4">
                                  <label class="Name">Choose Service</label>
                                  <!-- <input type="radio" id="myRadio" name="test" >
                                  -->
                                  <div >
                                    <label >
                                      <input type="checkbox" id="radio" value="amanservices"
                                              [(ngModel)]="model.aman" name="services"
                                             >Aman
                                            </label>
                                            <label style="margin-left:10px" >
                                                <input type="checkbox" id="radio" value="salamaservices"
                                                        [(ngModel)]="model.salama" name="services"
                                                       >Salama
                                                      </label>
                                          </div>
                                  <!-- <div [hidden]="confirmpassword.valid || confirmpassword.pristine"
                                       class="alert" style="color: #f54b5e;">
                                    Confirm your password
                                  </div> -->
                                </div>
                                <div class="form-group col-md-2">  
                          <re-captcha class="g-recaptcha" (resolved)="resolved($event)" siteKey="6LcbnoAUAAAAAMSXUw-ITzMbg18NjbMUuQ92Xc5k"></re-captcha>
    </div>
                          
                          <div class="col-md-4">    
                              <!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button> -->
            <button type="submit"  style="background-color: #ff0000;padding: 8px 20px;" onclick="document.getElementById('id01').style.display='block'" class="btn Rectangle-5-Copy" (click)=" createContact(model)"  >Create Account</button>
            <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">Reset</button> -->
          </div>
          </form>
          <br>
        </div>
    
  
  
  </div>

</div>

</div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
    <router-outlet></router-outlet>
    