@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* ===========navbar start========= */
.Rectangle-2 {
  width: 123px;
  height: 41px;
  border-radius: 5px;
  background-color: #ff0000;
}
 .Contact-Us {
  width: 90px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Suppliers {
  width: 77px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Services {
  width: 70px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .About-Us-Copy {
  width: 75px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
 .Home-Copy {
  width: 49px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}


/* ======navbar end===== */
/* ====================responsive================= */
.mt_20{
  margin-top: 0px;
}
.wt_237{
width: 237px;
}
.wt-con{
width: 232px;
}
.wt_140{
width: 140% !important;
}
/* mobile media query */
@media screen and (min-device-width: 320px) and (max-device-width: 760px){
.nav-bg {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.pt-120{
  position: relative;
  right: 153px;
}
.mt-414{
  margin-top: 0px !important;
}
.ft_18 {
  font-size: 18px;
}



}
/* css for ipad */
@media screen and (min-device-width: 768px) and (max-device-width: 1022px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}
.maxwt_19{
  max-width: 19%;
}
.wt_135{
width: 135px !important;
}
.map_wt{
  width: 175px !important;
}
.ml_135{
  margin-left: 0px !important;
}
.ml_16{
  margin-left: -16px !important;
}
.logo_wt{
width: 109px;
}
.col-sm-2{
  width : 0% ! important;
}

.mt_20{
  
    margin-top: 4px !important; 
  
  shape-margin: 0px !important;
}

.ht_80{
  height:54px !important
}

.pt-120{
  position: relative;
  right: 79px;
}
.mt-414{
  margin-top:0px !important;
}

.ml-5, .mx-5 {
  margin-left: 2.2rem !important;
}

.pad_0{
padding:0 0px !important;
}
.ft_18 {
  font-size: 30px;
}

.wt_106{
  width: 106% !important;
}


}
@media screen and (max-device-width: 1024px){
.nav-bg {
  /* background-color: rgba(0, 0, 0, 0.65) !important; */
}
.maxwt_19{
  max-width: 19%;
}
.wt_135{
width: 135px !important;
}
.map_wt{
  width: 175px !important;
}
.ml_135{
  margin-left: 0px !important;
}
/* .ml_16{
  margin-left: -16px !important;
} */
.logo_wt{
width: 109px;
}
.col-sm-2{
  /* width : 0% ! important; */
}

.mt_20{
  
    margin-top: 4px !important; 
  
  shape-margin: 0px !important;
}

/* .ht_80{
  height:54px !important
} */

.pt-120{
  position: relative;
  /* right: 79px; */
}
.mt-414{
  margin-top:0px !important;
}

.ml-5, .mx-5 {
  margin-left: 2.2rem !important;
}

.pad_0{
padding:0 0px !important;
}
.ft_18 {
  font-size: 30px;
}

.wt_106{
  width: 106% !important;
}


}

/* ============mobile============ */