
<section class="view intro-2 hm-gradient" style="background: url(/assets/lawyer-today-1.png);height: 635px;" >
  <!-- <img href="#" data-toggle="modal" data-target="#myModal" src="assests/lawyer-today-1.png" srcset="assests/lawyer-today-1@2x.png 2x,
  assests/lawyer-today-1@3x.png 3x"
class="NEM mt-3"> -->
<div class="">
  <div class="col-md-1">
      <!-- <img src="./assets/logv2-2.png" class="img-responsive"> -->
      <img  src="./assets/group.png"
                                       srcset="./assets/group@2x.png 2x,
                                               ./assets/group@3x.png 3x"
                                       class="img-responsive">
  </div>
</div>
  <!-- <div class="full-bg-img"> -->
      <!-- <div class="container flex-center"> -->
          <!-- <div class="row flex-center pt-5 mt-3"> -->
              <!-- <div class="col-md-6 text-center"> -->
                <br><br><br><br><br><br>
                  <div class="text-center">
                      <h1 ><font color="white">CONTACT US</font></h1>
                         
                  </div>
              <!-- </div> -->

              
          <!-- </div> -->
      <!-- </div> -->
  <!-- </div> -->
</section>

<div class="container">
  <br>
<!-- <h3 class="text-center"><b>Contact Us</b></h3> -->

      <div class="container">
      
       <div class="row">
         <!-- <div class="col-md-1"></div> -->
      <div class="col-md-5">
        <br><br>
          <h5><b>Company Address:</b></h5> 
       <p>
          Tower 400, 12th Floor, Mina Road,
  Sharjah, PO Box 4638 Sharjah - UAE 
  Tel: +971 6 597 2222
  Fax: +971 6 572 2331
  Email: helpdesk.hsg@apleona.com
  www.saned.ae
        </p>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <br>
        <img src="./assets/SHARJAHmap.png" 
  class="img-thumbnail">
      </div>
      </div>
  <br><br>
      </div>
    </div>
    <router-outlet></router-outlet>