
<app-nav-bg-ar [head]="head" [bg]="bg" [nav_arabic]="nav_arabic" ></app-nav-bg-ar>



<div class="container">
  <br>
  <!-- <h3 class="text-center"><b>Contact Us</b></h3> -->
  <div class="container">

    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-5">
        <br><br>
        <a class="WHAT-IS-Aman-">Company Address:</a>

        <p class="Sharjah-Asset-Manage">
          Tower 400, 18th Floor,<br>
          Mina Road, Sharjah, <br>
          PO Box 4648 Sharjah - UAE, <br>
          Phone: +971 6 506 6555,<br>
          Fax: +971 6 572 2331,<br>
          Email: helpdesk@saned.ae<br>
          <a routerLink="login">www.saned.ae</a>
        </p>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <br>
        <a target="_blank"
          href="http://maps.google.com/?q=Tower 400,18th Floor,Mina Road Sharjah,PO Box 4648 Sharjah - UAE ">
          <img src="./assets/SHARJAHmap.png" class="img-thumbnail">
        </a>
      </div>
    </div>
    <br>
  </div>
</div>
<!--=====footer english start==-->
<app-loginv2></app-loginv2>
<!-- ================footer  english end== -->

<!-- =======arabic -->