<app-nav-bg-ar [head]="head" [bg]="bg" [nav_arabic]="nav_arabic"></app-nav-bg-ar>

<br>
<div class="container-fluid">

  <div class="card" style="border-radius: 18px; background: white;">
    <br>
    <div class="row mx-2">

      <div class="col-md-1">

        <img src="/assets/noun-connection-657013.png" srcset="/assets/noun-connection-657013@2x.png 2x,
                /assets/noun-connection-657013@3x.png 3x" class="layer">
      </div>
      <div class="col-md-5">
        <a class="WHAT-IS-Aman-">Description</a>
        <br>
        <p class="Sharjah-Asset-Manage text-justify mt-2">
          <font color="#343a40">To ensure fast response to fire
            emergencies, SPSA partnered
            with
            SANED have initiated “AMAN” project. AMAN, aims to protect lives and properties by establishing a safe and
            reliable connection between all firefighting systems in all properties in Sharjah, with the central
            monitoring station that is continuously monitored to identify and respond to emergencies instantly ensuring
            the safety of people and assets.</font>
        </p>
      </div>
      <div class="ml-5"></div>

      <div class="col-md-1">
        <img src="/assets/2.png" srcset="/assets/2@2x.png 2x,
                  /assets/2@3x.png 3x" class="layer">

      </div>

      <div class="col-md-4 ">
        <a class="WHAT-IS-Aman-">Objectives</a>
        <br>
        <p class="Sharjah-Asset-Manage text-justify mt-2">
          <font color="#343a40">
            Enhance the quality of life in the Emirate of Sharjah by applying the highest internationally recognized
            standards to ensure the protection and safety of individuals and properties. The mission is a <b>Zero Harm
              Environment</b>.</font>
        </p>

      </div>











    </div>
    <!-- ====test======== -->



    <!-- ===================gdgdg-= -->

    <div class="row ml-2">



      <!-- =====test==== -->
      <div class="row col-md-12">
        <div class="col-md-1">
          <img src="./assets/3.png" srcset="./assets/3@2x.png 2x,
                    ./assets/3@3x.png 3x" class="img-responsive">
        </div>
        <div class="col-md-5">
          <a class="WHAT-IS-Aman-">Technical Information</a>
          <!-- <h5><b>Technical Information</b></h5> -->
          <p class="Sharjah-Asset-Manage text-justify mt-2">The 24/7 communication system is: </p>


          <ul class="ml-4 text-justify">
            <li>able to be integrated into a standard FACP of the building.</li>
            <li>able to be installed in several configurations throughout various building type applications.</li>
            <li>able to be readily used and maintained in varying conditions by operating property owners.</li>
            <li>able to be integrated in to the central monitoring station communication system through GSM and PSTN
            </li>
            <li>able to be scalable for future expansion</li>
          </ul>

          <br>
          <p lass="AMAN-is-a-first-of-i text-justify"> The user friendly SPSA Mobile App and AMAN online registration
            portal make it easy to register for your
            service and will walk you through all the requirements.</p>

          <p lass="AMAN-is-a-first-of-i text-justify"> Our 24x7 call centre is happy to answer any questions: 600 515152
          </p>

          <i>Website and Mobile App coming soon.</i>

        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="ml-5"></div>
        <div class="mr-4"></div>
        <div class="col-md-1">
          <img src="/assets/4.png" srcset="/assets/4@2x.png 2x,
                    /assets/4@3x.png 3x" class="img-responsive">
        </div>


        <div class="col-md-4 ">
          <a class="WHAT-IS-Aman-">Commercial Information</a>


          <p class="Sharjah-Asset-Manage text-justify mt-2">
            Included in the fixed fee for Building Owners are the following: </p>


          <ul class="ml-4">
            <li>Two building assessments with custom reports provided by AMAN technicians</li>
            <li>The communicator device with a surface mount enclosure</li>
            <li>Installation of the communicator</li>
            <li>SIM card</li>
            <li>Close out report after successful installation</li>
            <li>Two years of maintenance on the communicator</li>
            <li> One year service fee of SIM card</li>
            <li>Free registration & unlimited access to the application and software</li>
          </ul>

        </div>
      </div>
      <br>

      <div class="col-md-4"></div>


    </div>


    <div class="my-3 text-center">
      <a href="http://eservices.spsa.ae/register_en" target="_blank">
        <button type="submit" href="" class="Rectangle-5-Copy" routerLink="/http://eservices.spsa.ae">
          <font color="white">Register
            Here</font>
        </button></a>
    </div>

  </div>

</div>

<br>
<app-loginv2></app-loginv2>

<router-outlet></router-outlet>