<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->
<section class="view intro-2 hm-gradient">
        <div class="">
                <div class="col-md-1">
                    <!-- <img src="./assets/logv2-2.png" class="img-responsive"> -->
                    <img  src="./assets/group.png"
                                                     srcset="./assets/group@2x.png 2x,
                                                             ./assets/group@3x.png 3x"
                                                     class="img-responsive">
                </div>
            </div>
             
    <!-- <img href="#" data-toggle="modal" data-target="#myModal" src="assests/lawyer-today-1.png" srcset="assests/lawyer-today-1@2x.png 2x,
    assests/lawyer-today-1@3x.png 3x"
class="NEM mt-3"> -->
    <!-- <div class="full-bg-img"> -->
        <!-- <div class="container flex-center"> -->
            <!-- <div class="row flex-center pt-5 mt-3"> -->
                <!-- <div class="col-md-6 text-center"> -->
                  <br><br>
                    <div class="text-center">
                        <h1 ><font color="white">WELCOME TO SERVICES</font></h1>
                           
                    </div>
                <!-- </div> -->

                
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
</section>
<br>

<div class="">
    <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>“Caring for the nation by helping protect lives and property from fire and life safety events is our primary goal.“</b></h3> -->
   
   <div class="card col-md-11" style="border-radius: 18px;
   background: white;">
   <br>
    <div class="row">
        
        <div class="col-md-5 mr-2 Who-We-Are-Aman-is-a">
    <!-- <h4><b>Who We Are</b></h4> -->
   <h5>Description</h5>
   <p>
        AMAN is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE. 

   </p>
    <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>Saned services</b></h3>
    
                      
            <select class="Input-Selector" id="power"
                    required
                    [(ngModel)]="model.power" name="power"
                    #power="ngModel" style="margin-left: 15px;width: 254px;">
                    <option  [value]="pow">Select Service</option>
              <option  [value]="pow">Aman Services</option>
              <option  [value]="pow">Salama Services</option>
            </select>
            <div [hidden]="power.valid || power.pristine" class="alert" style="color: #f54b5e;" >
              Coming soon
            </div> -->
    

  </div>

<div class="col-md-1"></div>
<div class="col-md-5">

<h5>Objectives</h5>
<p>
        AMAN is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE. 

</p>

</div>
<div class="row">
<div class="col-md-5 ml-3">
<h5>Technical Information</h5>
<p>AMAN is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE. </p>
</div>
<div class="col-md-1"></div>
<div class="col-md-5">
<h5> Commercial Information </h5>
<p>
        AMAN is a first of its kind joint venture between Sharjah Asset Management Holding (SAM), the investment arm of the Government of Sharjah, and Apleona HSG (formerly Bilfinger HSG International Facilty Management), a global facilities management service provider delivering world class services in the UAE. 
</p>

</div>
<div class="col-md-5"></div>
        <div class="col-md-7">
         
                <button type="submit" style="background-color: #ff0000;
                width: 156px;
                padding: 3px 10px;
                margin-left: -27px;
                color: white;
                border-radius: 8px;" routerLink="/register-form">REGISTER HERE</button> 
        
        </div>
        
</div>




<br>

</div>
</div>