
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  /* ==============footer style start ========= */
  .container1 {
    background: black;
    color: white
  }

  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    /* height: 75px; */
  }

  .container {
    background: black;
    color: white
  }

  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .img-thumbnail {
    background: black;
    border-color: black
  }

  .home {
    font-family: Roboto-Bold;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0;
  }

  .about {
    font-family: Roboto;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
  }

  /* ===========================footer style end================ */
  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #000; */
  }

  header {
    padding: 10px 100px;
    box-sizing: border-box;
  }

  section {
    width: 100%;
    height: 100vh;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: Roboto;
    margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
    /* background-color: red; */
  }

  .dropdown-content {
    display: block;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: bullets;
  }

  ul li a {
    text-decoration: none;
    color: #e74c3c;
    font-family: Roboto;
    /* font-size: 18px; */
  }

  .navigation {
    background-color: #35353500;
    width: 75%;
    margin: 20px auto;
    min-height: 50px;
  }

  .navigation>li {
    float: left;
    padding: 0 20px;
  }

  .navigation>li>a {
    line-height: 50px;
    color: #FFF;
  }

  .navigation .menu {
    position: relative
  }

  .navigation .menu .submenu {
    position: absolute;
    /* width: 200px; */
    -webkit-box-shadow: 0px 1px 1px #CCC;
    box-shadow: 0px 1px 1px #CCC;
    display: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

  }

  .navigation .menu:hover .submenu {
    display: block;

  }

  .navigation .menu .submenu:before {
    content: "";
    position: absolute;
    display: block;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #FFF transparent;
    top: -6px;
    right: 5px;

  }




  .dropdown:hover .dropdown-content {
    display: block;
  }

  section.sec1 {
    background: url(natures-temples.png);
    background-size: cover;
  }

  section.banner {
    background: url(Group.png);
    background-size: cover;
    margin-left: 15px;
  }

  section.sec2 {
    padding: 100px;
    box-sizing: border-box;
  }

  nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255);
    border-bottom: 1px solid rgba(255, 255);
    position: sticky;
    top: 0px;
    z-index: 99
  }

  nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    float: right;
    list-style: "circle";
  }

  nav ul li {
    list-style: circle;
  }


  nav ul {
    display: flex;
    list-style: circle;
    padding: 0px;
    /* float: ; */
  }

  nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;

  }
</style>

<!-- <p>
        <label><input #arabic type="radio" name="size" (change)="0" >عربى</label>
        <label><input #english type="radio" name="size" (change)="0" checked>English</label>
    </p> -->


<!------ Include the above in your HEAD tag ---------->
<section class="view intro-2 hm-gradient" style="width:100%;height:100vh">

  <div class="row">
    <div class="col-md-1">

      <img src="./assets/group.png" srcset="./assets/group@2x.png 2x,
                    ./assets/group@3x.png 3x" class="img-responsive">
    </div>
    <br>
    <div class="col-md-4"></div>
    <div class="col-md-6 mt-5 text-right">
      &nbsp; &nbsp;
      <!-- <a class="btn mb-1" routerLink="login-arabic" style=" font-family: GeezaPro;font-size: 14px;
            margin-left: -18px;">
              <font color="white">تسجيل الدخول </font>
            </a>&nbsp;&nbsp;
            <button type="submit" style="background-color: #ff0000; width: min-content;padding: 4px 13px;height: 35px;
                width: 100px;margin-left: -17px" routerLink="register-form-arabic" class="btn Rectangle">&nbsp;
              <font color="white">تسجيل</font>
            </button>&nbsp; -->



      <font style="color:#F90E35">English</font>&nbsp;
      <input type="radio" checked>&nbsp;



      <font color="white"> عربى </font>
      <input name="Lang" style="color:#ff0000;" checked [(ngModel)]="Lang" type="radio" [value]="true"
        routerLink="/amanservices-arabic" [checked]="Lang" />&nbsp;

    </div>



  </div>



  <br><br><br>
  <div class="text-center">
    <h1>
      <font color="white" style="font-family:Roboto;font-size: 50px;">Aman</font>
    </h1>

  </div>
  <!-- </div> -->


  <!-- </div> -->
  <!-- </div> -->

  <!-- </div> -->
</section>
<br> <br><br>
<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">


  <div class="card" style="border-radius: 18px; background: white;margin-top:-190px;">
    <br>
    <div class="row ml-2">



      <!-- =====test==== -->

      <div class="col-md-1">
      
        <img src="/assets/noun-connection-657013.png" srcset="/assets/noun-connection-657013@2x.png 2x,
                /assets/noun-connection-657013@3x.png 3x" class="layer">
      </div>
      <div class="col-md-5">
        <a class="WHAT-IS-Aman-">Description</a>
        <br>
        <p class="Sharjah-Asset-Manage text-justify mt-2">
          <font color="#343a40">To ensure fast response to fire
            emergencies, SPSA partnered
            with
            SANED have initiated “AMAN” project. AMAN, aims to protect lives and properties by establishing a safe and
            reliable connection between all firefighting systems in all properties in Sharjah, with the central
            monitoring station that is continuously monitored to identify and respond to emergencies instantly ensuring
            the safety of people and assets.</font>
        </p>
      </div>
      <div class="ml-5"></div>

      <div class="col-md-1">
        <img src="/assets/2.png" srcset="/assets/2@2x.png 2x,
                  /assets/2@3x.png 3x" class="layer">

      </div>

      <div class="col-md-4 ">
        <a class="WHAT-IS-Aman-">Objectives</a>
        <br>
        <p class="Sharjah-Asset-Manage text-justify mt-2">
          <font color="#343a40">
            Enhance the quality of life in the Emirate of Sharjah by applying the highest internationally recognized
            standards to ensure the protection and safety of individuals and properties. The mission is a <b>Zero Harm
              Environment</b>.</font>
        </p>

      </div>











    </div>
    <!-- ====test======== -->



    <!-- ===================gdgdg-= -->

    <div class="row ml-2">



      <!-- =====test==== -->
      <div class="row col-md-12">
        <div class="col-md-1">
          <img src="./assets/3.png" srcset="./assets/3@2x.png 2x,
                    ./assets/3@3x.png 3x" class="img-responsive">
        </div>
        <div class="col-md-5">
          <a class="WHAT-IS-Aman-">Technical Information</a>
          <!-- <h5><b>Technical Information</b></h5> -->
          <p class="Sharjah-Asset-Manage text-justify mt-2">The 24/7 communication system is: </p>

          
          <ul class="ml-4 text-justify">
            <li>able to be integrated into a standard FACP of the building.</li>
            <li>able to be installed in several configurations throughout various building type applications.</li>
            <li>able to be readily used and maintained in varying conditions by operating property owners.</li>
            <li>able to be integrated in to the central monitoring station communication system through GSM and PSTN
            </li>
            <li>able to be scalable for future expansion</li>
          </ul>
        
          <br>
          <p lass="AMAN-is-a-first-of-i text-justify"> The user friendly SPSA Mobile App and AMAN online registration
            portal make it easy to register for your
            service and will walk you through all the requirements.</p>

          <p lass="AMAN-is-a-first-of-i text-justify"> Our 24x7 call centre is happy to answer any questions: 600 515152
          </p>

          <i>Website and Mobile App coming soon.</i>

        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="ml-5"></div>
        <div class="mr-4"></div>
        <div class="col-md-1">
          <img src="/assets/4.png" srcset="/assets/4@2x.png 2x,
                    /assets/4@3x.png 3x" class="img-responsive">
        </div>


        <div class="col-md-4 ">
          <a class="WHAT-IS-Aman-">Commercial Information</a>


          <p class="Sharjah-Asset-Manage text-justify mt-2">
            Included in the fixed fee for Building Owners are the following: </p>

           
          <ul class="ml-4">
            <li>Two building assessments with custom reports provided by AMAN technicians</li>
            <li>The communicator device with a surface mount enclosure</li>
            <li>Installation of the communicator</li>
            <li>SIM card</li>
            <li>Close out report after successful installation</li>
            <li>Two years of maintenance on the communicator</li>
            <li> One year service fee of SIM card</li>
            <li>Free registration & unlimited access to the application and software</li>
          </ul>
      
        </div>
      </div>
      <br>

      <div class="col-md-4"></div>

     
    </div>
    

    <div class="my-2 text-center">
      <button type="submit" class="Rectangle-5-Copy" routerLink="register-form">Register Here</button>
    </div>

  </div>
  
</div>

<br>
<app-loginv2></app-loginv2>

<router-outlet></router-outlet>