/* You can add global styles to this file, and also import other style files */
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */

body {
    padding-top:50px;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
legend {
   color: #678;
}
.form-control {
    width: 95%;
    
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}
.Welcome-to-Aman-port {
    width: 1210px;
    /* height: 32px; */
    font-family: Roboto;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
    text-align: justify;
  }
  .alert {
    position: relative;
    /* padding: .75rem 1.25rem; */
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .Rectangle-5-Copy {
    width: 268px;
    height: 39px;
    border-radius: 8px;
    background-color: #f34235;
    color: #fbfbfb
  }
  .Name {
    width: 100%;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #494949;
  }
  .Name .text-style-1 {
    color: #fc4825;
  }
  .Input-Selector {
    width: 300px;
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
  }