<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


<div class="">


  <div class="img-on-text">
    <img class="img-bg" src="./assets/rectangle-2.png" />

    <div class="pos1">
      <img class="img-set" src="./assets/E76BA54B.png" />
    </div>

    <div class="pos2">
      <hr class="hr-black" />
    </div>

    <div class="pos3" >
      <!-- <p> <span class="Coming-Soon"> Coming Soon </span> <span class="Coming-Soon-ar"></span> </p> -->

      <p> <span class="Coming-Soon mr-3 mr-sm-5">Coming Soon</span>
        <span class="Coming-Soon-ar ml-3 ml-sm-5">قريبا</span>
      </p>
    </div>

  </div>


  <div class="text-center py-sm-5 py-4" style="background-color: #000000;">
    <div class="container">

      <div dir="rtl">
        <p class="foot1">عنوان الشركة:</p>
        <p class="foot2"> برج 400 ، الطابق 18 ، طريق المينا ، الشارقة ، ص.ب. 4648 الشارقة - الإمارات العربية المتحدة هاتف:  6555 506 6 971+ |         
          </p>  
          <p class="foot2">  فاكس: 2331 572 6 971+| البريد الالكتروني: www.saned.ae  |  helpdesk@saned.ae </p>
      </div>

      <hr class="hr-white" />

      <div>
        <p class="Company-Address-Tow">Company Address: </p>
        <p class="Company-Address">Tower 400, 18th Floor, Mina Road, Sharjah, PO Box 4648 Sharjah - UAE Tel: +971 6 506 6555 | </p>
        <p class="Company-Address">Fax: +971 6 572 2331 | Email: helpdesk@saned.ae | www.saned.ae</p>
      </div>

    </div>
  </div>

</div>