<!-- <button (click)="switchLanguage('arabic')">Arabic</button>
<button (click)="switchLanguage('en')">English</button> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

  section.sec1 {
    background: url(natures-temples.png);
    background-size: cover;
  }

  section.banner {
    background: url(Group.png);
    background-size: cover;
    margin-left: 15px;
  }

  section.sec2 {
    padding: 100px;
    box-sizing: border-box;
  }
</style>


<div [class]='bg' style="margin-bottom: -50px; position: relative;">
  <div class="container-fluid">

    <div dir="rtl" class="row">
      <div class="col-md-4 col-sm-4 p-0 text-right">
        <img class="img-fluid" src="./assets/logo_ar.png">
      </div>

      <div class="col-md-4 col-sm-4"> </div>

      <div class="col-md-4 col-sm-4">
        <div class="mt-sm-5 ml-sm-5 mt-md-5 ml-md-5 mt-0 ml-0">

          <input type="radio" checked>
          <font class="ml-3 mr-1" color="#F90E35"> عربى </font>

          <input name="Lang" style="color:#ff0000;" [(ngModel)]="Lang" type="radio" [value]="true"
            routerLink={{nav_arabic}} [checked]="Lang" />
          <font class="mr-1" style="color:white">English</font>

        </div>
      </div>

    </div>

    <div class="text-center">
      <font class="head"> {{ head }} </font>
    </div>
  </div>

</div>

  <app-navbararabic ></app-navbararabic>


<div class="container-fluid" dir="rtl">
  <!-- <h3 class="col-sm-12 Welcome-to-Aman-port"><b>“Caring for the nation by helping protect lives and property from fire and life safety events is our primary goal.“</b></h3> -->

  <div class="card my-4 container-fluid col-md-12" style="border-radius: 18px;
    background: white;" dir="rtl">
    <br>
    <div class="row">
      <div class="col-md-6">
        <!-- <h4><b>Who We Are</b></h4> -->
        <br>
        <div class="saned_para text-justify">
          <p dir="rtl" class="">
            قامت شركة الشارقة لإدارة الأصول ، الذراع الاستثماري لحكومة الشارقة، وشركة أبليونا اتش اس جي لإدارة المرافق ،
            وهي شركة ألمانية رائدة في إدارة المرافق والخدمات الفنية، بتأسيس مشروع مشترك في عام 2016 لتقديم خدمات فنية
            متنوعة لجميع أنواع الأصول ضمن القطاعين العام والخاص في إمارة الشارقة.
          </p>
          <!-- <h4><b>What We Do</b></h4> -->

          <p class="saned_para">
            يشمل نطاق المشروع المشترك إدارة المرافق المتكاملة، وإدارة مشروعات البناء الصغيرة والمتوسطة، والنواحي
            المتعلقة بالصحة والسلامة والبيئة مثل استراتيجيات الوقاية من الحرائق والتدريب على أساسيات السلامة، وتوفير
            رجال الأمن المدربين، وما إلى ذلك.
          </p>

          <a class="saned_heading">
            رؤية
          </a>
          <!-- <h3 class="saned_heading">رؤية</h3> -->
          <p class="saned_para">

            أن نكون من بين أفضل مقدمي خدمات إدارة المرافق في الشرق الأوسط ، حيث نؤثر على جميع صناعات ال FM في الجودة
            العالية والممارسات الحديثة.

          </p>


          <a class="saned_heading">
            مهمة
          </a>

          <p class="saned_para">
            الاستفادة من أحدث التقنيات العالمية وأفضل الموارد البشرية لتحقيق أعمال مستدامة وسمعة تحسد عليها في
            الأسواق المحلية والإقليمية.

          </p>
        </div>
      </div>
      <div class="col-md-1"></div>



      <div class="col-md-5">
        <img src="/assets/group-4.png" style="width:100%; height: auto;" />
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>